[2016-11-11 00:54] cdloh opened #2 "Fails to login to IDPs like Okta"
Logging this to track.

The app fails to login to IDPs like OKTA. Okta seems to have JS errors on the login screen.

[2016-11-11 07:49] timche commented on #2
Could you tell me how to reproduce it?

[2016-11-11 12:11] cdloh commented on #2
Apologies I didn't give you much information.

I've debugged it further and it looks like It's a due to this issue noted here electron/electron#254

jQuery doesn't load correctly as it detects the module variable.

Couple of options to fix this

1. [Disable node integration in the WebPreferences object on the main window.](https://github.com/electron/electron/issues/254#issuecomment-42351776)
2. a

[2016-11-11 15:59] timche commented on #2
I think option 1 would be better,  because jQuery would just add another dependency.

[2016-11-22 11:44] #2 closed

[2017-10-18 13:37] herrevilkitten opened #10 "Badge title doesn't update for single-digit unread counts"
[code]
This pattern will fail for any inbox count with single digits, because it will be looking for two different instances of (1 or more) digits.

[2017-10-18 13:57] #10 closed

[2017-10-18 14:04] timche opened #12 "Add Auto Updater"
- https://github.com/electron/electron/blob/master/docs/api/auto-updater.md
- https://github.com/zeit/hazel

[2018-01-30 07:59] jingle0927 opened #13 "Support linux?"

[2018-01-30 09:33] timche commented on #13
I don't have Linux installed, so help from someone with Linux would be much appreciated!

[2018-03-09 06:54] #13 closed

[2018-03-21 08:47] richardmalone opened #14 "mailto: links do not work"
Clicking on someone's email address results in a modal dialogue saying:

_Grr! A popup blocker may be preventing Gmail from opening the page. If you have a popup blocker, try disabling it to open the window._

If you click okay, the page goes blank and the app needs restarting.

Thanks, Rich

[2018-03-21 11:27] timche commented on #14
Thanks for reporting this issue.

If anyone has some time to fix it, it can be done like this: https://github.com/timche/gmail-desktop/blob/master/src/app.js#L70-L79

Otherwise I'll try asap, but can't promise an exact date.

[2018-05-14 09:10] brunogoossens opened #15 "Sticky notifications not working"
After you change the notification style for the Gmail desktop app to "Alert" (=sticky notification). When you receive a new mail, the notification disappears after a few seconds. I like it to be sticky.

[2018-09-21 14:39] aleclarson opened #17 "popup blocker"
When I click a macOS notification, the app complains about a popup blocker, then the screen goes white and I need to restart the app to use it again.

[2019-02-07 14:00] timche commented on #15
Will consider this make it configurable.

[2019-02-08 00:55] timche commented on #17
Fixed in v2.0.0

[2019-02-08 00:55] #17 closed

[2019-02-08 00:55] timche commented on #14
Fixed in [v2.0.0](https://github.com/timche/gmail-desktop/releases/tag/v2.0.0)

[2019-02-08 00:55] #14 closed

[2019-02-08 00:56] timche commented on #12
Added in [v2.0.0](https://github.com/timche/gmail-desktop/releases/tag/v2.0.0)

[2019-02-08 00:56] #12 closed

[2019-02-16 15:51] markypython opened #21 "Create issue templates"
It would be nice to setup issue templates for users wanting to open new issues.  VS Code has some good examples [here](https://github.com/Microsoft/vscode/tree/master/.github/ISSUE_TEMPLATE)

[2019-02-16 15:53] markypython opened #22 "Unidentified developer"
When downloading the latest dmg file, Mac complains that it is from an unidentified developer.  While you can bypass this by right clicking and selecting open from the context menu, it would be best to not have this experience.

<img width="409" alt="unidentified developer" src="https://user-images.githubusercontent.com/25914066/52902018-7ce74280-31d0-11e9-9f20-6c911248940e.png">

[2019-02-17 00:09] markypython opened #23 "Mac dark mode"
Why is Mac dark mode disabled?  In package.json `darkModeSupport` is set to false.

[2019-02-17 12:52] timche commented on #23
Because even with dark mode enabled, the UI of Gmail won't change. In order to make it work, we need to inject some CSS with a dark theme.

[2019-02-17 12:54] timche commented on #22
You're right. This is due to not having an Apple developer certificate and the app being [unsigned](https://www.electron.build/code-signing). I'd need to pay for an Apple developer certificate which I haven't done yet.

[2019-02-18 18:11] mskelton opened #25 "Multi-account support"
Currently, multi-account support is limited to signing into another Google account using the account selector in the top right, but we should explore better multi-account support.

[2019-02-18 18:14] markypython opened #26 "Convert to TypeScript"
@timche Thoughts about converting over to TypeScript?

[2019-02-18 18:20] timche commented on #26
Totally up for it!

[2019-02-19 00:48] markypython commented on #21
Fixed in #27

[2019-02-19 00:48] #21 closed

[2019-02-19 02:13] markypython opened #29 "Report issue link should go to issue type screen"
The report issue link should go to https://github.com/timche/gmail-desktop/issues/new/choose

[2019-02-22 03:15] markypython commented on #22
I just released version 2.1.0 with the most recent changes.  However, it seems that on Mac it doesn't auto update because according to auto updater:

https://www.electron.build/auto-update

[2019-02-22 03:28] markypython opened #31 "Default window size to maximized for initial load"
Defaulting the window size to a fixed size feels messy to me.  Can we remove the default size in favor of starting maximized if you haven't started the application before?

[2019-02-22 11:48] timche commented on #31
Sure. My initial thinking was that most of the other apps I use start with a fixed size too, so I wanted to replicate that experience.

[2019-02-22 11:51] timche commented on #22
I will look into code signing asap. If I understand correctly, it actually doesn't require me to be part of the Apple Developer Program, which costs 99 USD, but I need to create certificates locally to sign apps.

[2019-02-27 03:21] markypython opened #33 "Targeted debug mode"
It would be good to have debug mode only set for development or for specific users (i.e. you and me).  Perhaps reading from an environment variable?

Thoughts?

[2019-03-01 22:54] #29 closed

[2019-03-01 22:54] #31 closed

[2019-03-05 15:06] timche commented on #22
App is now signed since [v2.2.0](https://github.com/timche/gmail-desktop/releases/tag/v2.2.0).

[2019-03-05 15:06] #22 closed

[2019-03-05 15:07] timche commented on #33
I think it would be okay to make it a public option or is there anything sensitive in debug mode?

[2019-03-05 17:54] markypython commented on #33
There isn't anything sensitive in debug mode, but it seems like something that shouldn't be turned on for the general public.  I could see a setting to enable debug mode that people can selected, but I probably wouldn't enable it by default for everyone.

[2019-03-05 18:11] timche commented on #33
Yes, I actually meant a setting which is disabled by default.

[2019-03-05 18:13] timche opened #35 "Windows: Taskbar icon not changing on unread mails"

[2019-03-05 22:48] markypython commented on #33
Ah, I see.

[2019-03-07 15:25] timche commented on #35
Couldn't reproduce it anymore and it seems to working actually.

[2019-03-07 15:25] #35 closed

[2019-03-13 02:53] mskelton opened #36 "Mac menu bar icon"
It would nice to have a menu bar icon showing the count of unread emails in the Mac menu bar.  I envision something like Todoist (see screenshot below).

![2019-03-12_21-52-44](https://user-images.githubusercontent.com/25914066/54250292-322bc280-4511-11e9-8708-60e26486c97f.png)

[2019-03-13 10:53] timche commented on #36
I don't have a MB with touch bar, would be a cool addition though :) 👍

[2019-03-13 11:09] markypython commented on #36
My apologies, I meant the menu bar at the top of the screen.

[2019-03-13 11:52] timche commented on #36
Oh okay. I first thought of it, but I personally dislike it. I'd rather make it configurable and you can choose between dock, menu bar or dock + menu bar. What do you think?

[2019-03-14 02:39] markypython commented on #36
I definitely like the idea of making it configurable.

[2019-03-23 01:39] #33 closed

[2019-03-25 11:35] timche opened #39 "Rebrand project"
As we are using Gmail and it's logo, it can potentially happen that we are getting a legal notice as it could confuse people that it looks like an official app and we are asked to change the name and logo. In order to avoid these issues in advance, we could rename our app, but I'm no legal expert if we actually need to.

[2019-04-05 07:38] bsramin commented on #39
Regardless of everything, I agree to use a custom name and icon, so as to add even a greater user experience for the project (eg also integrate google calendar and more ..)

[2019-04-05 07:41] bsramin opened #43 "Custom Application Menu"
Using `Menu.setApplicationMenu()` (https://electronjs.org/docs/api/menu) to integrate a custom menu and not the actual generic `Electron` menu.

[2019-04-06 13:18] #43 closed

[2019-04-07 12:15] #26 closed

[2019-04-07 12:27] markypython commented on #39
@timche Thoughts on a new name/icon?

[2019-04-09 10:07] markypython opened #47 "Auto updater not working"
Auto updater was added in #12, but I don't think it is working for Mac since I haven't gotten the new release yet.  I tried restarting the app several times to see if that would trigger it to update, but that doesn't seem to do anything.

@timche Can you explain how auto updater is supposed to work and if there is something I am doing wrong?  Seems like there should be a more intuitive process for

[2019-04-09 11:31] timche commented on #47
According to the [documentation](https://www.electron.build/auto-update) and [this example](https://github.com/iffy/electron-updater-example), it should work out of the box when releasing on GitHub and calling `autoUpdater.checkForUpdatesAndNotify()`. Let's see what the log says in the next versions.

[2019-04-09 11:40] timche commented on #39
Don't have made up my mind yet, but there were projects in the past which have given away free open source logos:
- https://github.com/arasatasaygin/openlogos
- There is another one which I can't find right now

I'm not a designer (anymore), but there is also this site with quite a few free logos: http://logodust.com/

Based on the logo we could come up with a name.

[2019-04-09 11:48] timche opened #49 "Questioning CHANGELOG.md"
Since writing the changes in CHANGELOG.md, I feel like I'm doing more work than necessary to make releases and document changes. Before I'd just create a new GitHub release and write down the changes in the release notes, which I think is more convenient and I can still do changes anytime unlike with the changelog file.

@markypython would you mind if we are writing the changelogs only in the rele

[2019-04-09 11:49] markypython commented on #49
Sure.  I thought it would be a good idea to try it and see how it went, but I would agree that it has been more difficult to manage.

[2019-04-09 11:54] markypython opened #50 "Mac "traffic lights" overlap content in new windows"
When opening a new window or a notification, the Mac "traffic lights" overlap the content.

- Gmail Desktop Version: 2.4.0
- OS Version: macOS Mojave

Steps to Reproduce:

1. Hold down command/ctrl and click the compose button
2. Observe how the Mac "traffic lights" overlap the content

![2019-04-09_06-52-31](https://user-images.githubusercontent.com/25914066/55798249-1bd34100-5a94-11e9-9a83-456e2

[2019-04-09 11:54] markypython commented on #50
Related to #42

[2019-04-09 12:06] #49 closed

[2019-04-09 12:10] timche opened #52 "Window size and state are not persisted after restart"
- Gmail Desktop Version: 2.5.0
- OS Version: macOS Mojave

Steps to Reproduce:

1. Change the window size
2. Restart the app
3. Window size is set to default

[2019-04-09 12:12] timche commented on #47
After launching v2.5.0, this is the log:

[code]

It looks like that it should work, let's see when we have released a new version.

[2019-04-09 23:08] #52 closed

[2019-04-10 01:01] markypython commented on #47
Behold the culprit:

[code]

[2019-04-10 21:22] bsramin commented on #50
I try to take a look at it

[2019-04-10 21:29] markypython commented on #50
@bsramin I started working on it already, so let me get my branch I'm working on published so you can help from there.

[2019-04-10 21:45] bsramin commented on #25
use this? https://github.com/brrd/electron-tabs

[2019-04-10 21:55] timche commented on #25
Looks good 👍

[2019-04-10 22:16] timche commented on #47
It's weird that the artifact name is `Gmail.Desktop-2.5.2-mac.zip` but it looks for `gmail-desktop-2.5.2-mac.zip`. The updater is looking into the `latest-mac.yml` file to determine the file to download.

Looking into `latest-mac.yml` and comparing with [Caprine](https://github.com/sindresorhus/caprine/releases), ours is wrong, although Caprine's file also has a capital first letter. I can't find

[2019-04-10 22:43] markypython commented on #47
I'm guessing the reason why Caprine works is because they don't have a space in the file name where we do.  That would probably explain the period vs using a dash.

[2019-04-10 22:46] markypython commented on #50
I uploaded my branch named `fix-new-window-header`.  You can compare it with master [here](https://github.com/timche/gmail-desktop/compare/fix-new-window-header).

As I mentioned, there seems to be an issue in electron that is causing this related to preload scripts (css falls into the same category).  https://github.com/electron/electron/issues/16224

[2019-04-10 22:47] markypython commented on #50
@timche Are you good with downgrading electron to 3.0.4 until this issue is resolved on their end?  It doesn't break anything to downgrade and I doubt we would be needing electron 4+ features before this issue is resolved.

[2019-04-10 22:54] timche commented on #50
Sure.

[2019-04-10 22:56] timche commented on #47
It's not only that, but look at `Caprine-2.30.2-mac.zip`, the first letter is also written as capital letter. Our log is looking for everything in lowercase. You know what I mean?

[2019-04-10 22:57] markypython commented on #47
Yes, but I am guessing that the issue is not the casing but instead the space.  GitHub urls are probably not case sensitive.

[2019-04-10 22:57] markypython commented on #50
@bsramin Do you still wan't to tackle this using my branch as a starter?

[2019-04-10 23:00] timche commented on #47
It could be possible, on the other hand please look at [their `latest-mac.yml`](https://github.com/sindresorhus/caprine/releases/download/v2.30.2/latest-mac.yml) and [ours](https://github.com/timche/gmail-desktop/releases/download/v2.5.2/latest-mac.yml). The `url` is exactly how the artifacts are named for some reason.

[2019-04-10 23:06] timche commented on #47
I've ran `yarn run dist` to see what the output is and actually it generates `Gmail Desktop.2.5.2-mac.zip`. Probably the dot will be added by GitHub or by Travis when uploading to GitHub releases.

[2019-04-10 23:08] timche commented on #47
Okay, it's really caused by the space in `Gmail Desktop`. Now I've changed `productName` to `GmailDesktop` and the `latest-mac.yml` is generated with `GmailDesktop-2.5.2-mac.zip`. Kinda unexpected behaviour. I'm wondering how others are doing it.

[2019-04-10 23:30] markypython commented on #47
Closed in #55

[2019-04-10 23:35] markypython opened #56 "Move to travis-ci.com for builds"
Travis is migrating from the old .org domain to the new .com domain.  We should move this repo to the .com domain to stay up to date and prevent issues down the road when they will likely turn off .org.

**Resources**

- https://blog.travis-ci.com/2018-05-02-open-source-projects-on-travis-ci-com-with-github-apps
- https://devops.stackexchange.com/questions/1201/whats-the-difference-between-travis-

[2019-04-11 09:07] timche commented on #56
This is already on my list for all my repos that are still on Travis.org. The migration is still in beta and not accessible for everyone the last time I checked. Will take a look at it again.

[2019-04-11 10:40] markypython commented on #50
I think part of the fix for this PR ought to be disabling ctrl/cmd click on elements to prevent them from being opened in a new window.  That would limit the screens that need updates to the PDF viewer and the email viewer when clicking on notifications.

[2019-04-11 19:11] gurumark commented on #25
Could you provide clear instructions on how to use electron-tabs?
Thanks.

[2019-04-11 22:43] markypython commented on #15
So, I circled back around to this one and did a bunch more testing, trying different things, and what I found was Gmail's code does some crazy magic deep down inside that is preventing me from overriding the window.Notification class.  I was able to get it to almost work where everything was firing using the electron notifications but the hangup was that the callback function for onclick (set by G

[2019-04-12 00:13] markypython opened #59 ""Minimal mode" idea"
I was thinking about possibly adding a "minimal mode" option that would hide certain elements on the page such as the right side panel, the support question mark, the footer information, keyboard button, etc.

@timche Thoughts on adding this as an option?

[2019-04-12 00:33] markypython commented on #25
@gurumark I think that is kind of up to whoever ends up doing the PR for this.

[2019-04-12 08:27] timche commented on #59
Sounds good! 👍

[2019-04-12 08:31] timche commented on #15
Either 1 or 2 would be an option for me, but 2 sounds really crazy, so I think not supporting sticky notifications should be fin.

[2019-04-12 10:33] #15 closed

[2019-04-12 10:41] timche commented on #50
Question: Why do we want to add the custom CSS in the new created windows? Doesn't the CSS only modify the main page? So if we would remove [these lines](https://github.com/timche/gmail-desktop/blob/master/src/app.ts#L176-L178) and set [`options.titleBarStyle: 'default` here](https://github.com/timche/gmail-desktop/blob/master/src/app.ts#L175), wouldn't it solve this issue? Because I don't see a r

[2019-04-12 10:45] markypython commented on #50
We could do that, but as far as I can tell, the styles I added should cover all the cases where a new window will open.  The pdf viewer styles are required for the main window, so the only two other cases are the new compose window and the email view from the notification click.

[2019-04-12 10:53] timche commented on #50
What if we are excluding them by checking the url?

[2019-04-12 10:54] markypython commented on #50
Could you explain that question?  I think I might know what you are talking about, but I'm not sure.

[2019-04-12 10:55] timche commented on #50
So for compose and email view windows, we could not inject our custom CSS and set the `titleBarStyle` to `default`, by checking the new created window url.

[2019-04-12 11:00] markypython commented on #50
If you don't want to inject the custom css for the compose or email view windows, then we would just turn off hiddenInset for new windows like you mentioned above.  The reason I would like to add the styles to those windows is it makes them cleaner and less cluttered (which helps since they are small windows when they open by default) and it also matches with the style of the main window really we

[2019-04-12 11:03] timche commented on #50
That's a fair point. Well, then I'm up for it 👍 Thanks for clarifying.

[2019-04-12 11:05] markypython opened #60 "External links open in new window from new window"
- Gmail Desktop Version: latest
- OS Version: macOS Mojave

Steps to Reproduce:

1. Ctrl/cmd click on an email to open it in a new window
2. Click on an external link in the email (i.e. GitHub PR)
3. See how the link was opened in a new window, should be opened using `shell.openExternal` to open in a browser

[2019-04-12 11:23] timche opened #62 "Close window on click "Archive" when email opened in new window"
When opening an email via an notification, the email will be opened in a new window. It would be nice when clicking on "Archive" the window will be closed automatically. This is a behaviour I know from the Gmail app on iOS.

This could be made configurable.

[2019-04-12 11:23] markypython commented on #62
Same behavior when you click delete as well

[2019-04-12 11:24] timche commented on #62
There is also a "Report spam" button, could be the same behaviour.

[2019-04-12 11:50] timche opened #68 "Space between search bar and help icon is not draggable in title bar (macOS)"
- Gmail Desktop Version: 2.5.3
- OS Version: macOS Mojave

Steps to Reproduce:

1. Place cursor between search bar and help icon
2. Hold left-click and move mouse

[2019-04-12 12:20] markypython commented on #68
Will be fixed in PR #58

[2019-04-13 18:19] timche opened #71 "Show offline banner when internet is not available"
Show an offline banner for example on top of the window to let the user know that he is offline using [is-online](https://www.npmjs.com/package/is-online).

[2019-04-13 18:23] markypython commented on #71
I like the idea, but I wonder if this would conflict with the existing gmail offline indicator.

![2019-04-13_13-23-04](https://user-images.githubusercontent.com/25914066/56083783-4ce2a700-5def-11e9-8abd-63aad400a4b0.png)

[2019-04-13 18:28] timche commented on #71
Oh, I forgot about that one. We could instead wait for this element to appear, make it prettier and put it as full width banner on top/bottom.

[2019-04-13 18:30] #59 closed

[2019-04-13 18:54] timche opened #72 "Add keyboard shortcuts"
To give the app a more native experience, we should add keyboard shortcuts for:

Quick access:
- Compose
- Inbox
- Snoozed
- Sent
- All mail
- Starred
- Important
- Scheduled
- Drafts
- Bin
- Search

Overview:
- Select all
- Refresh
- Mark all as read
- Older (Previous email)
- Newer (Next email)

Viewing email:
- Archive
- Report spam
- Delete
- Mark as unread
- Mark as not important
- Create eve

[2019-04-13 18:57] timche opened #73 "Improve download attachments experience"
Using [electron-dl](https://github.com/sindresorhus/electron-dl) to give the app even more native feeling.

[2019-04-13 18:59] timche opened #74 "Add context menu"
Right-clicking on elements and input fields doesn't do anything yet. It should instead show a context menu to do various things like `Copy link`, etc. (TBD) using [electron-context-menu](https://github.com/sindresorhus/electron-context-menu).

[2019-04-13 19:02] timche opened #75 "Dark theme"
Not sure if this is easy to maintain in case the CSS selectors are changing frequently, but I'm a fan of dark themes as it's easier for the eyes. Also the theme colors needs to be defined. Could look into a possible color scheme.

Inspired by: https://github.com/sindresorhus/caprine#dark-mode

Related to #23.

[2019-04-13 19:26] timche commented on #39
Name ideas:

- Inbox (not that Inbox is dead :D)
- Loop (Keeping in the loop)
- Columba (Latin for dove)
- Avem (Latin for bird)
- Mailbox
- Loopbox
- Postal

Here are a few logos that I like from http://logodust.com/:

![image](https://user-images.githubusercontent.com/8075074/56084220-d1511c00-5e27-11e9-8dac-47f9b65e9026.png)

![image](https://user-images.githubusercontent.com/8075074/56084223-d

[2019-04-13 19:48] timche opened #76 "Option to mute notifications"
Inspired by: https://github.com/sindresorhus/caprine#mute-desktop-notifications

[2019-04-13 19:49] timche opened #77 "User custom styles"
Inspired by: https://github.com/sindresorhus/caprine#custom-styles

[2019-04-13 19:51] timche opened #78 "Option to configure notification content"
1. Title + Author only
2. Title only
3. Author only
4. Show nothing

[2019-04-13 19:52] timche opened #79 "Quick access from dock menu (macOS)"
Inspired by: https://github.com/sindresorhus/caprine#quick-access-to-conversations-from-the-dock-menu-macos-only

[2019-04-13 20:55] timche commented on #49
@markypython Let us still use the [Keep a Changelog](https://keepachangelog.com/en/1.0.0/) style to write changelogs in releases.

[2019-04-13 21:00] timche opened #80 "Use electron-store instead of electron-settings"
Differences:
- TypeScript support
- [Set defaults](https://github.com/sindresorhus/electron-store#defaults)
- [Define schema](https://github.com/sindresorhus/electron-store#schema)
- Can be easily used in main and renderer process

[2019-04-14 02:39] #50 closed

[2019-04-14 02:40] #68 closed

[2019-04-14 13:15] #60 closed

[2019-04-14 19:59] markypython commented on #80
This would probably be good to put in a file that we then export some helper functions from.  This would make it easier in the future to swap out storage libraries if necessary.

[2019-04-14 19:59] markypython commented on #23
Closing in favor of #75

[2019-04-14 19:59] #23 closed

[2019-04-14 20:00] markypython commented on #25
Not sure how electron tabs will work since we have our own custom header bar.  We may need to consider alternate methods of handling multiple accounts.

[2019-04-15 12:47] timche opened #85 "Compose window created by "mailto" is unstyled (macOS) and blank after sending"
- Gmail Desktop Version: 2.6.1
- OS Version: macOS Mojave

Steps to Reproduce:

1. Open a [`mailto:foo@example.com`](mailto:foo@example.com) link
2. Compose window should open with `foo@example.com` as recipient
3. macOS: Notice how the title bar is the standard system title bar and unstyled
4. After clicking on `send`, the window is completely blank with a small notification on the bottom left wi

[2019-04-15 12:51] timche commented on #85
Most probably the window that get's created probably has a slightly different url that isn't detected by our [regex](https://github.com/timche/gmail-desktop/blob/master/src/app.ts#L179).

CC @markypython

[2019-04-15 13:02] timche commented on #56
Once travis-ci.com migration is out of beta, I'll move the repo, but as this is a task for all my repositories, this doesn't need to be tracked.

[2019-04-15 13:02] #56 closed

[2019-04-15 13:45] timche opened #86 "`this._state.bounds` can be undefined and crashes the app"
![image](https://user-images.githubusercontent.com/8075074/56137499-e72c2180-5f8c-11e9-80ea-06e6a78e5486.png)

- Gmail Desktop Version: 2.6.1
- OS Version: Windows 10

Steps to Reproduce:

Not clear how to reproduce exactly, but the error can be reproduced programmatically:

[code]

This happened to me only on Windows (once), but I think this can happen on all OS. It's not safe to use `this._windo

[2019-04-16 00:50] markypython commented on #86
@timche The logic in `window.ts` is setup to handle all the cases where window state is set, unset, partially set, etc.  I see where you are going with your test case, but it isn't really valid as you won't get to that portion of the code without window bounds.

🤷‍♂️

[2019-04-16 00:54] markypython commented on #85
@timche The next 2 weeks are quite busy for me, so I'm not sure how much time I'll be able to spend helping with these issues.  I'll make sure and finish the issue I have a PR for and then help wherever else I can, but I unfortunately will not be as available as I was last week!

Thanks for opening this though.  I think we should take a look at this after the other window header PR is finished up.

[2019-04-16 14:19] timche commented on #86
Well, as I said, I don't how how to reproduce it, but somehow it still happened and I wasn't able to get rid of the error until deleted the saved window state.

[2019-04-16 14:25] timche commented on #86
Anyway, as I was looking into `window.ts` again, I was wondering if we couldn't just save the window state only on `app.on('before-quit')` and not on the `'resize', 'move', 'close'` window events.

I noticed that moving the window doesn't look smooth (Windows 10), so I started the app without `WindowState` and moving was smooth again.

[2019-04-16 14:28] timche commented on #39
@markypython any thoughts on the ideas? 😄

[2019-04-16 21:22] timche commented on #80
From my experience, it's way easier to refactor and safer with TS in case we are swapping libraries. Anyway, most storage libraries have similar APIs.

[2019-04-16 22:31] markypython commented on #39
Thoughts on each logo:

1. I like this logo best of all.  Not sure why, but it just looks good.
1. I don't quite understand how this one fits with our app, interested to hear why you liked this one.
1. Second favorite.  Seems like it could look really cool with some alternating colors, but might be a little strange as a dock icon (maybe?)
1. Looks to much like Matco tools to me
    ![Matco tools](

[2019-04-16 22:33] markypython commented on #39
Thoughts on the names:

- Inbox - probably too confusing since Inbox was a thing
- Loop - Not sure about the loop idea.  Just doesn't jive with me
- Columba - Like the idea of going somewhat abstract, but I'm not a huge fan of how Columba rolls of the tongue
- Avem - Same thought as Columba
- Mailbox - Seems a bit to generic
- Loopbox - Same thought as Loop
- Postal - Okay, but if anything I would

[2019-04-16 22:34] markypython commented on #39
Sorry for the tough feedback, but I wanted to share what I was feeling.  Thanks for looking into this and putting together some ideas, naming things is really hard!

[2019-04-16 22:39] markypython opened #87 "Mac full screen hamburger menu is misaligned"
- Gmail Desktop Version: 2.6.1
- OS Version: macOS Mojave

Steps to Reproduce:

1. Launch the app
2. Click the green traffic light to go to full screen
3. See how hamburger menu is misaligned

![2019-04-16_17-35-58](https://user-images.githubusercontent.com/25914066/56248687-9ee53000-606e-11e9-9ee6-e97132d726e9.png)

[2019-04-16 22:40] #62 closed

[2019-04-16 22:42] markypython commented on #86
I like the idea of trying `app.on('before-quit')`.  Also, I guess we could just add an `else if (this._state.bounds)` and then be assured we won't ever have an issue.

[2019-04-17 11:07] cipriancraciun opened #88 "Change menu in Windows and Linux"
For some reason the window menu-bar (i.e. the one containing `Gmail Desktop`, `Settings`, etc.) is visible all the time, and there is no option to hide it.

(I don't know if this is by design, or an issue with my window manager, namely `i3`.  I'm using OpenSUSE Tumbleweed, and manually installed the `2.6.1` from the Debian `.deb` by extracting it into a custom folder.)

[2019-04-17 11:10] timche commented on #88
Can you provide a screenshot please?

[2019-04-17 11:11] cipriancraciun opened #89 "Option to configure the font size (or at least zoom)"
(At least in my case) the default font size is too small for me to easily read the emails.

It would be nice to have an option to customize the font (at least size, but family would also be helpful).

Additionally a zoom option would also be helpful.

[2019-04-17 11:15] timche commented on #89
Thanks for the suggestion!

[2019-04-17 11:18] cipriancraciun commented on #88
The following is the upper-left corner of my root window:

![image](https://user-images.githubusercontent.com/29785/56283895-a282c080-611b-11e9-9429-154d892128d1.png)

[2019-04-17 11:20] markypython commented on #88
If the window is hidden, how would you access settings?

[2019-04-17 11:21] timche commented on #88
Offtopic: How did you manage to invert the colors?

[2019-04-17 11:21] cipriancraciun commented on #88
For example in Slack when I press (and release) `Alt` the window menu-bar becomes visible.  (I think this is built-in in Electron, as I've seen this behavior in many other applications.)

[2019-04-17 11:22] cipriancraciun commented on #88
I just use the `Dark` theme from the Gmail `Theme` settings.

[2019-04-17 11:23] timche commented on #88
Interesting, didn't know it exists, thanks for sharing!

(Relates to #75)

[2019-04-17 11:30] timche commented on #88
Currently the menu bar in Windows looks similar like on Linux.

I already thought earlier about changing it to something like in other apps:

**Slack**
![image](https://user-images.githubusercontent.com/8075074/56284401-42385280-610c-11e9-9797-6eaf910eff18.png)

**VSCode**
![image](https://user-images.githubusercontent.com/8075074/56284430-567c4f80-610c-11e9-8cba-9209401f4f58.png)

**Hyper**

[2019-04-17 11:31] cipriancraciun opened #90 "Add support for "saved searches" (i.e. former Quick Links GMail enhancement)"
Long time-ago (before Google decide to decimate the GMail Labs ecosystem), there was an official "Quick Links" extension that allowed one to save searches.  Unfortunately I'm not able to find the original documentation but the following pages can provide some context:

* https://www.reddit.com/r/google/comments/6rkv8k/quick_links_lab_feature_in_gmail_is_retiring/
* https://www.bettercloud.com/moni

[2019-04-17 11:33] timche commented on #88
I'll change this issue to change the title/menu bar on Windows & Linux.

CC @markypython

[2019-04-17 11:34] cipriancraciun opened #91 "Add support for RPM packages (for Linux)"
I've seen that on the release tab there already is `.deb`, and from what I gathered it is generated by some generic tool you have integrated.  Could you also add support for `.rpm`?

[2019-04-17 11:35] markypython commented on #90
Could this be accomplished using Gmail filters?

[2019-04-17 11:35] markypython commented on #88
Sounds good to me!

[2019-04-17 11:37] timche commented on #91
We are using `electron-builder` and `.rpm` is supported: https://www.electron.build/configuration/linux#LinuxConfiguration-target

[2019-04-17 11:40] cipriancraciun commented on #90
What I'm referring to is orthogonal to GMail filters.

Say for example that your workflow includes reviewing unread emails received in muted threads.  You would achieve this by searching for `is:muted is:unread`.

However the same could be achieved by opening the following link: https://mail.google.com/mail/u/0/#search/is%3Amuted+is%3Aunread

Basically the Quick Links extension allowed one to book

[2019-04-17 11:40] timche commented on #91
I'm taking [Caprine](https://github.com/sindresorhus/caprine) as an inspiration for this project and it additionally provides their app as snap and something with `pacman`. Are these somehow useful for you? I'd like to go with the most popular ones and don't build every single possible target.

[2019-04-17 11:43] cipriancraciun commented on #91
`pacman` is the ArchLinux package manager, therefore I would say it is useful to include it also.

I would also include `snap` (similar to `AppImage`), but also `tar.bz2`.  The last one is for those whose package manager is not on the list.

(By the same reasoning I would also include `zip` on Windows builds.)

[2019-04-17 11:52] cipriancraciun opened #92 "Make "Silent auto-updates" optional"
First of all I understand that auto-update is extremely useful for 99% of the users (especially non-technical ones).  However in this day-and-age, especially for the security-conscious user, auto-update also implies that the tool you are using is downloading new code behind your back...  (This is why I consider it as a "bug" and not a "feature" request.)

Therefore I would strongly suggest to make

[2019-04-17 11:53] timche commented on #90
Loading URLs would require a full reload which isn't great for the experience. We could instead automatically insert the filters (`is:muted`, etc.) into the search bar and submit. I don't know how many possible filters exist, but I think the "search filter" could be configured by the user using the editor (file format tbd) and we could either inject a menu into the page, set shortcuts or add a new

[2019-04-17 11:54] cipriancraciun commented on #90
No it wouldn't.  Just try it in a normal browser:
* open your GMail account;
* select the URL bar and paste the link containing the search query;

[2019-04-17 11:55] timche commented on #92
Per the `electron-builder` docs, it says that auto-updates is only supported for `AppImage`: https://www.electron.build/auto-update#auto-updatable-targets

But I agree that silent auto-update can be a little too intrusive. I was thinking to go back to notify the user about a new available update and to ask them to "download and install" it.

@markypython thoughts?

[2019-04-17 11:57] timche commented on #91
So do we still require `.rpm` when we are providing the others?

[2019-04-17 11:59] timche commented on #90
Alright, it works, at least in Chrome. We need to check if it behaves the same in Electron.

[2019-04-17 12:02] cipriancraciun commented on #91
Yes.

To summarize:
* `.deb` for Debian / Ubuntu based Linux distributions;
* `.rpm` for Fedora / OpenSUSE / CentOS based distributions;
* `pacman` (the extension is I believe `.tar.xz`, but it contains some extra files) for ArchLinux;
* `.AppImage` / `.snap` (and Flatpak if supported) for DMG-like installs on Linux;  (in this regard this topic is still in "flux" in the Linux world);
* `.tar.bz2`

[2019-04-17 12:02] cipriancraciun commented on #91
Although if you want to minimize the number of files, I would say `.deb`, `.rpm` and `.tar.bz2` is the minimal recommended set.

[2019-04-17 12:09] cipriancraciun commented on #90
If you implement this as a "bookmark" facility, one could also open other parts of the GMail application in a similar fashion.  Like for example: https://mail.google.com/mail/u/0/#settings/filters -- for quick access to filters;

[2019-04-17 12:10] timche commented on #92
@allcontributors[bot] add @cipriancraciun for ideas

[2019-04-17 12:34] cipriancraciun opened #94 "Do not use spaces in the install folder name for Linux"
At the moment the generated `.deb` package installs this application under `/opt/Gmail Desktop/...`, which includes a space in the folder name.

Now although all of the Linux file-systems, and the package management tools, do support files with spaces in their names, it is considered bad practice, especially since it interacts poorly with `sh` scripts that correctly fail to quote their arguments.

[2019-04-17 12:42] cipriancraciun commented on #77
Indeed having custom styles would be helpful for the advanced GMail user.

I would envisage that even a simple `Custom mode` (similar to `Minimal mode`) would be enough, that would allow one to enable / disable the custom CSS in a file.

---

Some time ago, by using the Stylish Firefox addon (https://userstyles.org/help/stylish) I wrote a few custom CSS styles to make the GMail inbox and thread vi

[2019-04-17 12:45] cipriancraciun opened #95 "Add support for opening multiple inbox windows"
At times, especially when working on multiple tasks at once, it would be helpful to be able to open multiple inbox windows at the same time.

Therefore a nice new option would be to add a `New` option under the `Window` menu, perhaps triggered by the `Ctrl+N` shortcut, to open a new inbox window.

[2019-04-17 12:46] cipriancraciun commented on #95
This is related to #72, however it implies more than quick access in the same window.

[2019-04-17 12:53] timche commented on #39
Thanks for your feedback! That was just quick brainstorming by me, so no worries for the tough feedback ;)

---

**Logos**

So potential logos are:

![image](https://user-images.githubusercontent.com/8075074/56288946-baf0dc00-6117-11e9-9c90-65be4f04a19e.png)

![image](https://user-images.githubusercontent.com/8075074/56288951-bdebcc80-6117-11e9-85d7-31b74a9de3b7.png)

I don't see no. 5 fitting int

[2019-04-17 13:07] cipriancraciun commented on #74
At the moment copy-link is essential, especially for those that use multiple browsers / browser profiles.

For example say I receive an email with an alert from a cloud provider, with a link that contains more details, or an action to be taken.  If I use a different browser profile (or even browser instance) to manage my AWS account, if I click that link it opens in my default browser, which due t

[2019-04-17 22:43] markypython commented on #77
@cipriancraciun I don't think that we would need a setting, but rather we would just check for the existence of a custom css file.  Then, we can just have a menu link that will open that file in the default application.

@timche Thoughts?

[2019-04-17 22:44] timche commented on #77
Right, like kinda like described here: https://github.com/sindresorhus/caprine#custom-styles

[2019-04-17 22:44] markypython opened #96 "Create a project board to manage the priority of the current issues"
We have a lot of open issues right now.  Some are bugs, others are features.  I feel like it might be helpful to create a GitHub project board so we can prioritize and work through these issues.

[2019-04-17 22:56] markypython commented on #39
Here are some other name ideas.

- Pony Express (the second logo in your most recent comment would go well)
- Mailbag (not sure which logo to use for this one)
- Courier (would work with the c shaped logo)

[2019-04-17 23:58] markypython commented on #94
Depending on what we choose for the new name for this app, this may be fixed when we rebrand.

Related to #39

[2019-04-18 06:21] cipriancraciun commented on #77
@markypython If the user doesn't have the option to enable / disable the custom user styles, then if GMail changes something in its HTML structure (and usage of CSS classes), it would be quite difficult to use it.

Moreover, the same functionality is required if the user has multiple (perhaps delegated) GMail accounts that use different themes, because GMail has different (but not quite a complete

[2019-04-18 06:38] cipriancraciun commented on #39
@markypython `Courier` is the name of a (former?) mail server:  https://en.wikipedia.org/wiki/Courier_Mail_Server

---

Just for fun:  why not call it `GeMail`?  (I.e. `GMail` with `Electron`?)  :)  (Although it makes a poor Google Search candidate...)

That being said, I would suggest that whatever name is chosen it should be quite "unique" on Google Search (i.e. searching for it on Google should

[2019-04-18 10:32] timche commented on #39
I really like the name **Courier** and the C shaped logo fits perfectly for it. Also there doesn't seem to be another app called "Courier".

[2019-04-18 10:39] markypython commented on #39
@cipriancraciun I think there is a fine line between an abstract name and a name that is too abstract.

[2019-04-18 10:45] markypython commented on #77
If this were to happen, I would expect that I would either have to update my custom stylesheet or I would have to simply remove the old styles.  I don't think a setting to turn off the custom styles would be necessary.

I'm not familiar with Gmail account delegation.  Does the user have the ability to change the theme for the delegated account?  If so, I would expect that most users would have the

[2019-04-18 11:13] cipriancraciun commented on #77
No, the user receiving the delegation can't change the delegated account theme.  However he does **get the delegated account theme**.  (I.e. his own account uses his theme, the delegated account uses that particular account's theme.)  (This is based on my concrete experience with delegated accounts.)

[2019-04-18 11:14] markypython commented on #77
Thanks for the info.  I'll have to noodle on this for a bit.

[2019-04-18 11:18] cipriancraciun commented on #77
I wont press this further than this:  please believe me that I speak out of concrete experience with using custom styles with GMail.  There were countless times when I had to temporarily disable the custom style for various reasons, like for example:

* using a delegated account that uses a different theme (as discussed above);
* receiving an email that contains HTML that behaves poorly with the c

[2019-04-18 11:28] timche commented on #77
I'd like to have the following UX:
1. `Settings` -> `Custom Styles` -> `Enabled`
  - Will enable and inject the custom styles
2. `Settings` -> `Custom Styles` -> `Edit CSS File`
  - Will open the CSS file in the default editor

[2019-04-18 11:43] markypython commented on #39
@timche If we go forward with Courier and use the c shaped logo, I was thinking that it would probably look good if we use the colors from the gmail logo as the background and foreground.  So, the c would be colored Gmail red on a white background.  That and adding a border radius to it would make it work pretty nice.

I would envision it looking something like the quicken logo (shown below) but w

[2019-04-19 18:24] timche commented on #39
I have tried to play around with the "C" shaped logo, but I don't really like anymore:

![Frame](https://user-images.githubusercontent.com/8075074/56437096-17015f00-62d6-11e9-86ee-614364345b1a.png)

I also tried out the other logo we considered and I think looks way better:

![Frame2](https://user-images.githubusercontent.com/8075074/56437787-a576e000-62d8-11e9-8bb2-39596bec7dc6.png)

[2019-04-19 21:35] markypython commented on #39
As far as the logo, when seeing them side-by-side in color, I agree that the second one looks better.  As far as the name, I'm not a fan of misspelled names for brands.  I think a well thought name is much better than a misspelled name.

[2019-04-20 00:27] timche commented on #39
What do you think of [Bearer](https://www.thesaurus.com/browse/bearer)?

[2019-04-20 00:30] markypython commented on #39
Bearer doesn't click well with me.  If you want to abandon courier, I'm fine with that as it wasn't my top choice anyway.  I'll do some more thinking 😄

[2019-04-20 00:31] timche commented on #39
I'd just like to explore alternatives which might be fancier 😄

[2019-04-20 00:32] markypython commented on #39
Okay, I wasn't thinking fancy but I will now 👍

[2019-04-20 00:45] markypython commented on #39
Just found [this video](https://www.youtube.com/watch?time_continue=129&v=wAUO5kFFPIg) on the internet about creating a good name.  It has some good thoughts about what to consider when creating a name.

Thought I should share it while we are talking about names!

[2019-04-20 15:16] cipriancraciun opened #100 "Add support for a way to search for text in the current view"
As the title says, there isn't a way to search for a word (or phrase) in the current "view" (i.e. currently rendered HTML).  To be clear, I'm not speaking about the "search" functionality offered by GMail, but about the `Ctrl+F` that all browsers have.

---

It would be even better if there would be an extra option to only search the text of the currently displayed thread.

However a "find everywh

[2019-04-20 15:31] markypython commented on #96
@timche I created a project board and added the issues to it.  It is setup as an automated board and will move issues throughout the process as they are pull requested, reviewed, closed, etc.  I added the bugs to the top of the list, but the other ones are mostly unprioritized.  Feel free to take it from where I left off.

Thanks for enabling that option for the repo!

[2019-04-20 19:57] cipriancraciun commented on #39
@markypython (Just saying) Have you tried a "code name" generator like:
* http://www.codenamegenerator.com/
* https://mrsharpoblunto.github.io/foswig.js/
* (some other found on Google?  in fact even the ones above were find on Google;)

Perhaps it will spark an idea after iterating through some of the suggestions.

[2019-04-20 23:46] markypython commented on #39
@cipriancraciun I tried some different name generators which certainly helped just to think of different names, but nothing stuck out that I really liked.  The only two I thought were interesting were Mailr (yes, I did mention I don't like misspelled names, but this one seems different for some reason) and Reply Rocket.

Here are a couple sites I used:

- https://namelix.com
- https://www.brandbuc

[2019-04-22 06:19] cipriancraciun opened #101 "Add support for opening any `https://mail.google.com/mail/u/0/#...` URL"
One nice feature of GMail is that most of the views generate a unique URL like `https://mail.google.com/mail/u/0/#...` that when opened in a new window (in a browser where you are authenticated) it opens exactly the same view.  For example: `https://mail.google.com/mail/u/0/#search/from%3Asomeone%40example.com` will open the search view with `from:someone@example.com`.

It would be nice to be able

[2019-04-22 06:20] cipriancraciun opened #102 "Add support for a compose spell-checker"
One extra missing (but extremely useful) functionality is the spell-checker for the compose window.

[2019-04-23 08:04] JimTim commented on #86
I getting the same error.

[2019-04-23 09:56] timche opened #103 "Printing doesn't work (macOS)"
- Gmail Desktop Version: 2.7.1
- OS Version: macOS Mojave

Steps to Reproduce:

1. Open a PDF attachment
2. Press `Print`
3. Nothing is happening

---

Windows and Linux needs to be checked.

[2019-04-24 10:34] timche commented on #102
Doesn't Gmail already has a spell-checking?

![image](https://user-images.githubusercontent.com/8075074/56653132-e67a4600-6684-11e9-95e0-fa371503c753.png)

[2019-04-24 10:37] timche commented on #102
Anyway, we can opt-in to use our own: https://github.com/electron-userland/electron-spellchecker

[2019-04-24 10:40] cipriancraciun commented on #102
Apparently it does -- I never knew about it...  However I always used the "inline" spell-checker provided by the browser which underlines misspelled words in real-time.

Therefore perhaps this feature isn't that important (although it would be a nice-to-have feature).

[2019-04-25 09:49] timche commented on #39
I was thinking about a name which fits better to the second logo. What do you think of these:
- Mailee
- Mailray
- Mailtron

I'd like to have a name with a single word.

[2019-04-25 11:17] markypython commented on #39
I like mailtron, but it looks like it is already used for an email related application.

http://www.studiotron.com/mailtrongateway/

[2019-04-25 11:24] timche commented on #39
It doesn't look very active anymore. Last release was 2006: http://www.studiotron.com/mailtrongateway/release/releasenotes_mt.html

Also the full name is "Mailtron Gateway".

Is that still an issue?

[2019-04-25 11:25] markypython commented on #39
Fair point.  It probably doesn't matter at this point then.

[2019-04-25 11:29] timche commented on #39
I also tried a different variation of the logo:

![Rectangle 2](https://user-images.githubusercontent.com/8075074/56732554-15b0b600-675e-11e9-8130-e1c21f67fd03.png)

[2019-04-25 11:30] markypython commented on #39
Personally, I like the other logo better with the off-white background and the red color for the inner portion.

[2019-04-25 11:32] timche commented on #39
What do you think of this?

![Frame](https://user-images.githubusercontent.com/8075074/56732730-8f48a400-675e-11e9-8fcd-9df4deea9508.png)

---

It's more of a "flat style".

[2019-04-25 11:34] markypython commented on #39
Either is fine with me.  I like different aspects of both :)

[2019-04-25 11:36] timche commented on #39
I made the gray background a little less "dirty":

![Frame](https://user-images.githubusercontent.com/8075074/56732989-26adf700-675f-11e9-9107-3709fabeb228.png)

[2019-04-25 11:41] timche commented on #39
I also adjusted the gaps between the "lines" so they are the same space and the top left line was actually vertically misaligned.

![Frame](https://user-images.githubusercontent.com/8075074/56733110-83a9ad00-675f-11e9-9f35-7ac7f0d3bb47.png)

[2019-04-25 11:42] timche commented on #39
I like that it kinda looks like a paperclip/attachment in an email.

[2019-04-28 17:31] floriangbh commented on #25
I'm also waiting for multi-account support (but not skilled in TS/JS hehe) !

Thanks for your work !

[2019-04-29 11:40] #96 closed

[2019-04-29 14:19] #71 closed

[2019-04-29 23:38] #73 closed

[2019-04-30 11:18] timche opened #108 "Make minimal mode enabled by default"
@markypython I thought of enabling the minimal mode by default, but also giving the user the option to opt-out of the things that minimal mode is hiding via `Settings > Appearance >`
- `Hide Footer`
- `Hide Right Sidebar`
- `Hide Support` (The questionmark icon on the top right)

[2019-04-30 12:22] markypython commented on #108
I'm good with that!

[2019-04-30 14:55] timche opened #110 "Option to change default notification sound"
Replace with something from: https://freesound.org

Keywords:
- alert
- notification
- bell

[2019-04-30 14:55] timche opened #111 "Option to mute notification sound"

[2019-04-30 22:57] markypython commented on #110
@timche Why would we want to add this to the app?

[2019-04-30 23:35] timche commented on #110
Because right now it plays the default OS alert, doesn't it? Thought of giving the app it's own style.

[2019-04-30 23:37] markypython commented on #110
I would leave this to individual users as they can configure their notification sound in system preferences.

[2019-05-01 00:38] markypython commented on #47
Looks like this is broken again.  See log below:

[code]

[2019-05-01 08:53] timche commented on #47
It looks like changing the app id broke it. We'll need to revert it until we have proper solution to change app id and app name.

[2019-05-01 12:19] timche commented on #47
@markypython can you confirm it's working again?

[2019-05-01 12:21] markypython commented on #47
Yes, it is working now.

[2019-05-01 12:21] #47 closed

[2019-05-01 22:55] #80 closed

[2019-05-01 22:55] #86 closed

[2019-05-02 11:59] markypython commented on #74
Added in [v2.8.0](https://github.com/timche/gmail-desktop/releases/tag/v2.8.0)

[2019-05-02 11:59] #74 closed

[2019-05-02 12:01] markypython opened #115 "Download notifications"
With the new download experience, there is no user feedback when the download is done aside from the fact that the progress bar is gone.  For small downloads, this is difficult to see as it comes and goes really quickly.

Thoughts on adding a notification when the download is complete?

[2019-05-02 12:02] timche opened #116 "Clean external links from Google tracking"
Opening external links are redirected by Google and tracks the user. We can add more privacy by cleaning the url.

[2019-05-02 12:04] timche commented on #115
Sure. I'd like to see it added as optional setting. `electron-dl` provides a callback [`onProgress`](https://github.com/sindresorhus/electron-dl#onprogress).

[2019-05-02 12:07] timche commented on #115
This can be extended to make the downloading even more configurable as `electron-dl` provides more functions like [`openFolderWhenDone`](https://github.com/sindresorhus/electron-dl#openfolderwhendone), [`directory`](https://github.com/sindresorhus/electron-dl#directory).

[2019-05-02 12:28] timche commented on #102
This is actually not easy to implement. [`electron-spellchecker`](`https://github.com/electron-userland/electron-spellchecker/`) comes with it's own context menu and we are using [`electron-context-menu`](https://github.com/sindresorhus/electron-context-menu) for our context menu. I tried implementing both, but without success yet.

[2019-05-02 17:11] cipriancraciun commented on #102
@timche In the end if GMail has support for this builtin it's not an issue...

(Perhaps you could create a new tag, something like `nice-to-have`, tag this issue, and then close it.  Then sometime later if there is time left someone could tackle this...)

[2019-05-05 18:59] oitsjustjose opened #118 "Google Changed Gmail CSS, making elements of app break"
- Gmail Desktop Version: 2.9.1
- OS Version: macOS Mojave

Today, Google updated the Gmail classes such that the injected CSS doesn't work anymore. I don't hate it this way, but I much preferred the old way:

![Screen Shot 2019-05-05 at 2 59 38 PM](https://user-images.githubusercontent.com/3887324/57198900-6b4b4680-6f46-11e9-9e23-f5f24f5a0696.png)

[2019-05-09 10:34] #118 closed

[2019-05-12 03:24] Jim-Zenn opened #120 "Search bar UI overflow"
- Gmail Desktop Version: 2.9.2.373
- OS Version: Mac OS

Steps to Reproduce:

1. It's right there on the main interface

As you can see, the search bar overflows a bit

![image](https://user-images.githubusercontent.com/7279131/57577415-aeb42200-742a-11e9-9087-5fb95a3392e0.png)

[2019-05-23 08:37] #120 closed

[2019-05-23 08:39] timche opened #121 "Rethink Custom Styles"
As of now, it's very difficult to keep up with CSS class changes which results in breaking our custom styles constantly. We should come up with a compromise where we apply "safe" custom styles that are breaking rarely.

Opinion @markypython ?

[2019-05-23 10:11] markypython commented on #121
@timche I've thought about how to do the custom styles better and I think it would require using fewer class names and more selector hierarchy.  Styles like this `#gb > div > div:last-of-type > span`.

[2019-06-11 12:53] richardmalone opened #124 "Incorporate Simplify Gmail"
I would like to see the Simplify Gmail chrome extension incorporated into Gmail-Desktop.
![01](https://user-images.githubusercontent.com/6492842/59273485-3cfd0d00-8c50-11e9-9102-0c92be2a3817.png)
This extension reduces the interface to a bare minimum, bringing the simplicity of Google Inbox to Gmail.

I think it would fit really nicely into the Gmail Desktop app and would attract Inboxer users acr

[2019-06-11 16:52] timche commented on #124
Thanks for this suggestion!

In the past we had issues with Google changing CSS classes and we couldn't keep up with the changes. I'll have a look at that project and get in contact with the author if he is interested in a partnership, so we can consume that project as a dependency.

[2019-06-15 17:30] marcinlesek opened #125 "Notification on MacOS didn't show up"
Hello,

firstly, thanks for developing & maintaining this app. 👏 I'm guessing that notifications are turned on by default (they are mentioned in `README.md` file) - but on my Mac they don't appear at all.

- Gmail Desktop Version: 2.9.2 (2.9.2.373)
- OS Version: Mojave 10.14.5 (18F203)

Steps to Reproduce:

1. Turn on Gmail Desktop
2. Log into account
3. Get any email to main inbox
4. Check that n

[2019-06-17 14:11] timche commented on #125
Thanks for reporting this issue. I'm looking into it 👍

[2019-06-20 16:49] timche commented on #125
Notifications seem to be working again, at least for me. Anyone else too?

[2019-06-21 12:45] shamoons opened #126 "Is it possible to use this as the default mail client for Windows 10?"
Such a great app - would love for all email links to open in this

[2019-06-21 13:17] shamoons opened #127 "Does this support offline mode?"

[2019-06-21 18:49] fatihturan commented on #125
I can see the notification badge and hearing the sound but notification banner doesn't show at the moment.

[2019-06-21 19:04] fatihturan opened #128 "macOS Text Replacement Doesn't Work in Compose Window"
- Gmail Desktop Version: 2.9.2
- OS Version: macOS Mojave 10.14.5

Steps to Reproduce:

1. Opening compose window
2. With using macOS' text replacement feature I am writing alias and expecting expand into sentence ([like this](https://cl.ly/a32f111ade20)) but it doesn't.

[2019-06-21 21:14] marcinlesek commented on #125
I see only badge on the app icon unfortunately - any notifications show up 💔

I also get this error after a while of Gmail Desktop turned on:

<img width="532" alt="Screenshot 2019-06-21 at 11 01 03 PM" src="https://user-images.githubusercontent.com/13199192/59951778-3c4b4e80-947a-11e9-99fa-c69e9633b5cc.png">

Best,
Marcin

[2019-06-26 17:46] marcinlesek commented on #125
Hey @timche, any updates? Notifications should be enabled by default, yea?

[2019-07-01 11:00] timche commented on #127
For the initial loading it requires internet. When the app is running and the internet is offline, it will still work, but you are offline.

[2019-07-01 11:00] #127 closed

[2019-07-01 11:01] timche commented on #125
Yes.

---

Notifications are very inconsistent for me, I need to look into that, sorry for the delay. If there is anyone who can help, I'd really appreciate it.

[2019-07-06 11:15] timche commented on #125
Notifications are working fine me (again) for a while. I'm closing this issue for now, but if this should be still an issue, feel free to let me know, thanks.

[2019-07-06 11:15] #125 closed

[2019-07-06 11:17] #39 closed

[2019-07-11 12:59] cipriancraciun commented on #91
@timche Did something happen to the linux `.tar.bz2` release bundle?

(When I installed 2.6.1 it was an option, but now I see it disappeared for that version also...)

[2019-07-16 08:53] fatihturan opened #131 "Account Switch Button is Hiding When Custom Styles Enabled"
* Gmail Desktop Version: 2.9.2
* OS Version: macOS Mojave 10.14.5

Steps to Reproduce:

If I enable "Custom Styles" from the Settings > Appearance menu then Account Switcher button is hiding.

[2019-08-06 17:07] cipriancraciun opened #132 "I almost always get an "an JavaScript error occurred in the main process" when I click the system tray icon (on Linux)"
- Gmail Desktop Version: 2.9.2 (based on the AppImage on GitHub)
- OS Version: Linux, OpenSUSE Tumbleweed (up-to-date)

Steps to Reproduce:

1. open the GMail application, and close the window (and make sure the application is present in system tray);
2. click the system tray icon most of the times an error dialog box stating `an JavaScript error occurred in the main process`  and referencing `Err

[2019-08-06 17:13] cipriancraciun opened #133 "When switching to a delegated accounts, further opens of the application load that account by default"
- Gmail Desktop Version: 2.9.2
- OS Version: Linux, openSUSE Tumbleweed (up-to-date)

Steps to Reproduce:

1. open the GMail application, and use an account that has access to delegated GMail accounts;  (this is similar to login-in into multiple accounts, but as opposed to that feature, it doesn't imply an actual login, but will provide only access to GMail for that account;)
2. open the GMail app

[2019-08-22 08:54] fatihturan commented on #131
Now search bar is gone too:

<img width="1124" alt="image" src="https://user-images.githubusercontent.com/26871/63501034-9779db80-c4d3-11e9-975b-47b0b5d53dd3.png">

[2019-08-28 11:15] timche commented on #131
Fixed with #135

[2019-08-28 11:15] #131 closed

[2019-08-28 11:15] #121 closed

[2019-08-28 11:16] fatihturan commented on #131
Thank you @timche! 👍🏻

[2019-08-29 12:51] #108 closed

[2019-08-30 11:48] markypython commented on #110
@timche Thoughts on this?

[2019-09-01 23:06] markypython commented on #126
@shamoons Have you tried selecting the "Default Mailto Client" setting in the settings menu?

[2019-09-02 10:55] timche opened #143 "Notify about update installed and let user restart app"
Additionally to silent updating the app, we should also show a notification which says that the app updated and offer the user to restart by clicking on the notification.

[2019-09-02 12:51] #143 closed

[2019-09-02 14:20] markypython commented on #115
Closed via #141

[2019-09-02 14:21] #115 closed

[2019-09-02 14:21] markypython opened #145 "Custom download directory"
Allow users to specify a custom download directory.

[2019-09-02 14:52] markypython commented on #132
@cipriancraciun Can you update to v2.10.0 and see if this problem still persists?

[2019-09-02 14:52] markypython commented on #132
I tried on my Linux machine and didn't have any issues.  That said, I have Ubuntu and not OpenSUSE.

[2019-09-02 16:58] #92 closed

[2019-09-03 02:18] markypython commented on #128
Related to https://github.com/electron/electron/issues/15535

[2019-09-03 10:55] timche opened #148 "Upgrade to Electron v6"
We needed to downgrade to v3.0.4 in order to unblock #50.

Related issue (still open): https://github.com/electron/electron/issues/16224

We need to check if the bug is still happening.

[2019-09-03 10:56] timche commented on #25
I'm planning to work on this using React and https://electronjs.org/docs/api/browser-view.

[2019-09-14 12:41] markypython commented on #132
Closing due to lack of activity.

[2019-09-14 12:41] #132 closed

[2019-09-14 13:13] markypython commented on #75
@timche Should we close this in favor of Gmail's built in dark theme?

[2019-09-14 21:55] #75 closed

[2019-09-14 21:56] #77 closed

[2019-09-15 02:23] markypython commented on #126
Closing due to lack of activity.

[2019-09-15 02:23] #126 closed

[2019-09-15 11:05] cyfrost commented on #91
Hi,
I have a fork of this project that is modified to suit my personal workflows, [here's the repo](https://github.com/cyfrost/gmail-electron). There are a few things that are different with the fork (one of which is relevant to this thread). I've added more build targets (.rpm, .pacman, .snap) to the existing set. Please let me know If you'd be interested in a PR (it is a very small change indeed

[2019-09-15 11:08] timche commented on #91
Hi @cyfrost, you are more than welcome to propose changes and contribute to this project in order to improve it. Our goal is to support every platform as good as possible, but since @markypython and I are primarily using macOS, we definitely need more support for Linux and Windows.

[2019-09-15 11:13] cyfrost commented on #91
@timche Sounds great, I primarily use Linux (Fedora) for all things, and sometimes Windows. So I can help with issues related to these platforms.

Please take a look at my fork and the [things that are different](https://github.com/cyfrost/gmail-electron#differences-from-upstream-project) with it and let me know if you want to cherry-pick some of them.

[2019-09-15 11:24] cyfrost opened #151 "Add user setting to disable all custom styling"
As was discussed multiple times before, custom styling can sometimes cause issues due to changes in Gmail's stylesheets. Since these changes are not ephemeral, they'd require an entirely new release to fix the styling issues (in case some poppped up). My suggestion is to have a global user setting to disable all custom styling to let any UI/UX disruptions subside until an update can be released.

[2019-09-15 12:58] markypython commented on #151
@cyfrost The picture you are showing is the result of a recent change which split the custom styles into multiple pieces and made it completely configurable.  When all the options are turned off, no custom styles will be applied.

I'll close this as a non issue.

[2019-09-15 12:58] #151 closed

[2019-09-15 12:58] #87 closed

[2019-09-15 13:20] markypython commented on #94
@timche Do we still plan to fix this or are we still going to rebrand the project?

[2019-09-15 14:08] #91 closed

[2019-09-15 20:30] arlogilbert commented on #110
At least on Mac OSX there is no ability to customize notification sounds at the OS level per app. There is just the "sound" that is the default and it's pretty weird for a mail sound.

[2019-09-15 20:37] markypython commented on #110
@arlogilbert At the least it should be a configuration option so that users can leave it as the default notification sound.

[2019-09-15 22:20] timche commented on #110
I'm still up for making this configurable, but also changing the default would give this app some more unique character.

[2019-09-15 22:22] timche commented on #94
I don't we are rebranding it but instead could simply omit `Desktop`, what do you think?

[2019-09-15 23:12] #148 closed

[2019-09-15 23:12] markypython commented on #94
Not sure I understand.  Do you mean calling the app Gmail?

[2019-09-16 03:11] cyfrost opened #155 "Update build pipelines to include new dist formats"
Yesterday, we've [made](https://github.com/timche/gmail-desktop/commit/00f67330a79d9ead6887a337700516fd0f684531) the app support the following extra release targets (rpm, snap, pacman, tarbz2, zip).

But release v2.11 made a few hours ago doesn't include these dist files.

[2019-09-16 03:42] #155 closed

[2019-09-16 11:14] timche commented on #124
As we have fixed our custom styles, there is currently no need to implement simplify Gmail. We have added support for user custom CSS in our latest release.

[2019-09-16 11:14] #124 closed

[2019-09-16 11:14] timche commented on #94
Correct

[2019-09-16 11:37] markypython commented on #94
Wouldn't that make it worse from a legal standpoint?

[2019-09-16 11:41] timche commented on #94
I'm no lawyer, but Gmail is a trademark. So I think in general using this name isn't legal anyway, but it's totally up to Google to request us to not use the name. There has been a similar case by sindresorhus where he got a [legal notice](https://github.com/sindresorhus/legal-notices/blob/master/2015-12-12-github.md).

[2019-09-16 12:22] markypython commented on #94
The other problem I could see with calling it simply Gmail is that it would increase confusion about if it is an official or unofficial desktop client as well as make it harder for people to find the application as they would constantly be finding gmail.com in search results rather than this project.

Those are some of my other reasons why I would think it could be risky to call it just Gmail.

[2019-09-17 18:39] cyfrost opened #157 "app does not handle network change events"
Hi, push notifications for new emails are a great feature, thanks for building it.

I've observed a few scenarios where it may not work as intended:

### Scene 1:
1. Turn off wifi or whichever the active network connection is.
2. Open the Gmail app and see that the site is not loaded (a blank screen is visible instead)
3. Now turn the network connection back on.

Ideally, the app should listen to

[2019-09-17 22:44] markypython commented on #157
@cyfrost Push notifications in Gmail Desktop have been a long standing pain point for me (see #15 and #38).  Because the notifications use the default "browser-style" notifications and not native electron notifications, they limit what we are able to do with them.

One approach I've considered but haven't had a chance to try is listening to network traffic and creating our own notifications when t

[2019-09-18 09:33] sndrs commented on #125
sorry to say, i'm not getting any notifications :)

running 2.12.1.472 on mac os 10.14.6

nothing in console... anywhere else i should check?

[2019-09-18 11:05] markypython commented on #125
@sndrs Do you have notifications turned on in the Gmail settings?

![2019-09-18_06-03-31](https://user-images.githubusercontent.com/25914066/65143308-424dbe80-d9da-11e9-9343-3bcb18d8a4c7.png)

[2019-09-18 11:12] sndrs commented on #125
🤣

no...i'm an idiot, thank you!

[2019-10-03 04:36] jubishop opened #160 "Dark mode?"
This is really cool.  Better and cleaner than Kiwi, Boxy Suite in many ways.  Any chance of another CSS mod for a dark mode? that'd be sexy.

[2019-10-03 04:50] cyfrost commented on #160
Just curious: Gmail has a Dark theme via Settings > Themes. What's missing with it?

[2019-10-03 05:00] jubishop commented on #160
Well shit.  Nothing I’m just an idiot 😂.  Awesome thanks for the info

On Wed, Oct 2, 2019 at 9:50 PM Cyrus Frost <notifications@github.com> wrote:

[2019-10-03 05:10] #160 closed

[2019-10-04 22:29] #88 closed

[2019-10-05 04:40] cyfrost commented on #116
@timche I'm planning to work on this unless you have any other suggestion. Between, did you happen to make any progress on this issue?

[2019-10-05 04:45] cyfrost opened #162 "[Discussion] Issue fixing priorities"
Hi @timche, and @markypython .

This is to discuss what issues/enhancements we need to work on and how much progress is made. Considering the better understanding you both have about the current state of this project, please lets discuss a list of issues (sorted by priority) to be fixed. Fixings bugs before taking up enhancements looks like a good start to me. Thoughts?

With my fairly basic under

[2019-10-05 15:33] jubishop opened #163 "Custom CSS for email body"
Right now with dark mode theme the actual body of an email is still white with black text.  I've tried my hand at a custom CSS to fix it but have failed thus far.  Any chance you can make this happen, or can tell me a way I'm missing?

[2019-10-05 15:51] timche commented on #163
I wouldn't recommend touching the email body. It can potentially break the e-mail itself being unreadable as many e-mails are also adding their own CSS.

[2019-10-05 15:51] #163 closed

[2019-10-05 15:53] timche commented on #116
Unfortunately not, feel free to work on this :)

[2019-10-05 16:02] timche commented on #162
1. Has very low priority. Unless Google contacts us, I wouldn't bother with rebranding for now.
1. Privacy is a huge topic and I very welcome this feature and happy to have it as selling point.
1. I didn't experience any issues, but let's discuss that further in the issue. If it becomes a blocking issue, it should be handled with higher priority for sure.
1. Definitely good to have.
1. This actual

[2019-10-05 22:01] markypython commented on #162
We could bring back the project board so we can sort issues based on priority.  @timche Thoughts?

[2019-10-11 01:02] zzpxyx commented on #36
Do we have any plan on implementing this? I've done some quick experiments and it seems feasible?

[2019-10-11 17:29] timche commented on #36
I'm not sure why I closed this issue, but contributions are very welcome adding this feature!

[2019-10-11 17:31] timche commented on #162
Not sure if it will help us as any issue can be taken regardless the priority. So you would like to work, feel free to take it :)

[2019-10-11 17:54] markypython commented on #162
@timche Can we close this as it seems that the discussion is done?

[2019-10-11 17:55] timche commented on #162
Sure

[2019-10-11 17:55] #162 closed

[2019-10-12 00:25] zzpxyx commented on #36
No problem. I'm still learning here, but I'll see if I can come up with something. Thanks!

[2019-10-17 11:59] sndrs opened #166 "dock icon unread count incorrect"
My dock icon count appears to be stuck.

there's nothing in the logs or console in developer mode?

![image](https://user-images.githubusercontent.com/867233/67006657-992fdc00-f0dd-11e9-9cbd-a699ca595c23.png)

restarting, reloading, updating the read count in gmail itself doesn't seem to fix it...

- Gmail Desktop Version: 2.13.0.489
- OS Version: 10.15

Steps to Reproduce:

1. open app
2. icon un

[2019-10-17 12:01] sndrs commented on #166
ah ha! it's only showing the `3` of `36`. got unread to 20s and saw this:

![image](https://user-images.githubusercontent.com/867233/67006969-3f7be180-f0de-11e9-80bf-e9b3b3b464b5.png)

[2019-10-17 12:14] markypython commented on #166
This was fixed in #164 but we haven't released a new version since.  I'll release a new version right now.

[2019-10-17 12:17] markypython commented on #166
Fixed in v2.13.1

[2019-10-17 12:17] #166 closed

[2019-10-17 12:17] sndrs commented on #166
wow that's service :)

amazing, thank you 👍

[2019-10-18 15:42] shamoons opened #167 "Random error when restarting"
This is for Windows:
![image](https://user-images.githubusercontent.com/1019677/67108407-6c8ec980-f19c-11e9-9b8f-bec197e584b4.png)

[2019-10-18 15:56] cyfrost commented on #167
Thanks for the report. Is this happening on the latest app version?

[2019-10-18 16:06] shamoons commented on #167
Yes. I just uninstalled and reinstalled. Same error

[2019-10-18 16:06] cyfrost commented on #167
Okay, am working on this.

[2019-10-18 16:46] cyfrost commented on #167
@shamoons There's already a fix available with [this](https://github.com/timche/gmail-desktop/pull/165) PR contributed by @zzpxyx, Once its merged and we have a new release you should no longer face this bug. I've verified that it works by cherry-picking his PR to my local branch on a Windows install.

[2019-10-18 17:01] shamoons commented on #167
Now that's customer service with a smile! Thanks for looking at it so quickly.

[2019-10-18 17:02] #167 closed

[2019-10-18 17:03] markypython commented on #167
Fixed in [v2.13.2](https://github.com/timche/gmail-desktop/releases/tag/v2.13.2)

[2019-10-20 13:19] shamoons opened #170 "How can I go back from the print view?"
- Gmail Desktop Version:
- OS Version: Windows 10

Steps to Reproduce:

1. Open an email, and click print
![image](https://user-images.githubusercontent.com/1019677/67160038-42fbac80-f31a-11e9-9052-99d1f55606d2.png)

2. As expected, a preview version of the email opens up:
![image](https://user-images.githubusercontent.com/1019677/67160053-7e967680-f31a-11e9-8ec3-2d2640576307.png)

3. But now, I c

[2019-10-21 08:57] timche commented on #170
That means you didn't restart the app correctly. On launch, it always loads `https://mail.google.com`: https://github.com/timche/gmail-desktop/blob/master/src/app.ts#L92

Nevertheless, the printing should open a new window and it's a bug.

[2019-10-21 09:10] #170 closed

[2019-11-24 20:41] tracker1 opened #171 "Installation via Snap and Flathub"
Would be nice to see this in Flathub and/or Snap for easy Linux install/discovery.

[2019-11-26 20:50] shamoons opened #173 "Hyperlinks don't work from Ubuntu"
I have Ubuntu 18.04 and clicking links in my email does not open the browser

[2019-11-27 18:57] alainsr commented on #95
Alternative request: allow multiple instances to run simultaneously. Not ideal in terms of RAM, but could be a short term workaround.

[2019-12-04 17:04] HearMeWhisper commented on #173
In the latest ubuntu, in my experience, doesn't allow you to set this app as a default email client

[2019-12-08 10:45] timche commented on #173
The core team is not unfortunately not using Ubuntu/Linux, so we need some help finding the issue.

[2019-12-14 06:10] jonrandy opened #174 "Can't sign in: This browser or app may not be secure"
- Gmail Desktop Version: Latest
- OS Version: Ubuntu

Steps to Reproduce:

1. Install GMail dekstop
2. Attempt to log in, fails with the following message:

This browser or app may not be secure

Try using a different browser. If you’re already using a supported browser, you can refresh your screen and try again to sign in.

[2019-12-14 15:04] fatihturan commented on #128
This issue has been fixed with Gmail Desktop 2.15.0 version which includes Electron 7. 👍

[2019-12-14 15:04] #128 closed

[2019-12-15 10:47] Technosoft2000 commented on #174
Same issue here, it seems that Gmail checks now the User Agent of the HTTP message and allows only the frequently updated browsers.

[2019-12-16 12:12] timche commented on #174
I couldn't reproduce it on macOS, but I'll take a look at it asap.

[2019-12-16 14:57] timche commented on #174
Related: https://support.google.com/accounts/thread/22873505?hl=en

Can you try other Google accounts please?

[2019-12-16 15:04] jonrandy commented on #174
It could well be 2FA - but there's no way I'm switching that off

[2019-12-16 15:26] timche commented on #174
I'd never suggest you to do that, no worries.

I'll keep an eye on this issue and see what can be done since it's not just Gmail Desktop only.

[2019-12-16 23:41] timche commented on #174
I just received an email from Google:

I highly assume that this is related to this issue.

[2019-12-16 23:52] timche commented on #174
It seems like this is an issue on specifically on Linux:

- https://github.com/meetfranz/franz/issues/1720
- https://ww.9to5google.com/2019/12/16/google-blocking-obscure-browsers-gmail/
- https://www.bleepingcomputer.com/news/google/google-now-bans-some-linux-web-browsers-from-their-services/
- https://www.omgubuntu.co.uk/2019/12/couldnt-sign-you-in-google-browser-error-linux
- https://news.softpe

[2019-12-17 14:23] Technosoft2000 commented on #174
It is an issue with uncommon browsers and not especially withLinux; but btw. for Linux there exists many different browsers.

I've tested:
- Gmail Desktop Version: Latest
- OS Version: Windows 10

Login via the browsers Google Chrome and Microsoft Edge works on Windows 10.

[2019-12-17 19:18] supermarkert commented on #174
It's definitely an issue on my Franz 5.4 install on Windows 10.

[2019-12-18 07:16] floriangbh commented on #174
Hello, same issue here but with MacOS :)

[2019-12-18 08:06] Ivan-Brigidano opened #176 "GitHub notifications links aren't working"
Versions:

- Gmail Desktop Version: Last one (2.15.0)
- OS Version: Last one (macOS Catalina 10.15.2)

Steps to Reproduce:

1. Receive an automatic GitHub notification mail
2. Try to tap "View Issue/Pull Request" link

This should launch a new window with that Issue/PR but isn't launching any safari window. It sometimes marks the mail as read and sometimes not.

[2019-12-19 10:41] timche commented on #174
I have released [v2.16.0](https://github.com/timche/gmail-desktop/releases/tag/v2.16.0) which comes with the option to override the user agent as workaround for this issue: https://github.com/timche/gmail-desktop#i-cant-sign-in-this-browser-or-app-may-not-be-secure

Please let me know if it works out for you.

[2019-12-19 12:26] #176 closed

[2019-12-19 12:29] timche commented on #176
Thanks for reporting this issue. This is fixed in [v2.16.1](https://github.com/timche/gmail-desktop/releases/tag/v2.16.1).

[2019-12-19 12:31] timche commented on #173
We've just released [v2.16.1](https://github.com/timche/gmail-desktop/releases/tag/v2.16.1). Can you please check if this might have solved this issue @shamoons? Thanks.

[2019-12-19 12:45] #116 closed

[2019-12-19 12:48] timche commented on #103
Fixed by 10ec7e2e2d2ea28302020ad9fbe48021b0a81c5f.

Opens PDF in Browser instead.

[2019-12-19 12:48] #103 closed

[2019-12-19 13:13] timche commented on #157
Point 1 is now handled by cd951ca.

[2019-12-19 13:14] timche commented on #102
Closing in favour of Gmail's built-in spell checker:

<img width="279" alt="Screenshot 2019-12-19 at 14 14 19" src="https://user-images.githubusercontent.com/8075074/71176317-e2311780-2269-11ea-8e05-2042d5ac3cc8.png">

[2019-12-19 13:15] #102 closed

[2019-12-19 13:17] timche commented on #101
Closing this issue due to lack of interest and/or inactivity.

[2019-12-19 13:17] #101 closed

[2019-12-19 13:22] #36 closed

[2019-12-19 14:23] floriangbh commented on #174
Hello @timche , same issue with the v2.16.1

[2019-12-19 14:38] timche commented on #174
Thanks for the feedback. I've just released [v2.17.0](https://github.com/timche/gmail-desktop/releases/tag/v2.17.0) which fixes overriding the user agent globally. Please let me know if it works.

[2019-12-19 14:55] floriangbh commented on #174
Same issue with the v2.17.0 :)

[2019-12-19 15:04] petreikis commented on #174
Thanks, v2.17.0 fixed the issue for me.

[2019-12-19 15:05] timche commented on #174
@floriangbh @petreikis can you please share your user agent?

[2019-12-19 15:14] petreikis commented on #174
@timche my user agent is "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:71.0) Gecko/20100101 Firefox/71.0"

[2019-12-19 15:24] timche commented on #174
I've added a note to the troubleshooting guide: https://github.com/timche/gmail-desktop#i-cant-sign-in-this-browser-or-app-may-not-be-secure

So if your user agent is still not working, please try a different one from the link provided in the guide.

[2019-12-19 15:24] Technosoft2000 commented on #174
Thanks @timche for the fix and thanks @petreikis for the user agent setting :)
Works on my Windows 7 machine now - at home I'll try it on Windows 10.

[2019-12-19 21:36] timche opened #177 "v3 Alpha: Testing & Feedback (Multi-Accounts, ...)"
We are currently working on the next major version of Gmail Desktop which includes the long-awaited multi-accounts support. The reason for a major version is that Gmail Desktop will be re-written for most parts in order to make multi-accounts a great experience without suffering any existing features. Another reason is that Gmail Desktop will be renamed to Mazy (hope you like the name), so it must

[2019-12-20 02:07] cyfrost commented on #177
Hey @timche, great initiative! I'm happy to test the alpha once it's out. Fedora, Arch Linux, Ubuntu, and Windows 10 are the ones I can lay my hands on for testing. Let me know when the alpha is ready! :)

[2019-12-20 07:38] floriangbh commented on #174
Here is my user agent : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:71.0) Gecko/20100101 Firefox/71.0"

I'm just add it on the config file and this is now ok ! Thanks for your work 👍

[2019-12-20 16:58] #173 closed

[2019-12-20 17:51] shamoons commented on #174
<img width="447" alt="image" src="https://user-images.githubusercontent.com/1019677/71279679-60072880-2327-11ea-9870-b560c93a8dbe.png">

[2019-12-25 13:58] cyfrost opened #178 "external links not cleaned from google tracking when opened via push notifications"
Related to #116
Any external links opened via `shell.openexternal(url)` within the Gmail electron app are cleaned off of google's tracking links [here](https://github.com/timche/gmail-desktop/blob/2481db0bff1c4d68d62a0b88fbd68712fe319665/src/app.ts#L308) but the same isn't applied for links that come through a push notification email.

- Gmail Desktop Version: v2.17.0
- OS Version: Arch Linux (5.4

[2019-12-28 18:32] guszernial commented on #174
I installed Gmail-Desktop on Linux/Kubuntu. When I start Gmail-Desktop and click the icon in the top left I see More Actions -> Special ial Window Settings, Special Application Settings, Window Manager Settings ... but no "menu Settings → Advanced → Edit Config File, which opens the JSON config file in your editor". to make the "overrideUserAgent" fix you mention. Help appreciated.

[2019-12-30 21:37] #178 closed

[2020-01-02 03:32] xIGBClutchIx commented on #174
Sadly getting no luck with this. Tried multiple different user agents and nothin is working.

[2020-01-03 16:56] guszernial commented on #174
I checked my useragent on https://www.whatsmyua.info/ and it gives "rawUa: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.88 Safari/537.36" and I am in fact using Google Chrome Version 79.0.3945.88 (Official Build) (64-bit) on my Linux/Kubuntu box. I'm not a developer and thus am unclear about the relationships between Gmail-Desktop, Electron, Snap, userage

[2020-01-06 11:31] Ivan-Brigidano opened #180 "Markdown mail links don't work properly"
- Gmail Desktop Version: Last one (2.17.0)
- OS Version: Last one (macOS 10.15.2)

Steps to Reproduce:

1. Try to click a markdown mail link (e. g. `[Contact mail](mailto:contact@mail.com)`)
2. You will have the following possibilities:
    i. If you don't have the application opened, you will have the following error (see attached photo).
    ii. If you have the application opened but with an acc

[2020-01-06 11:34] Ivan-Brigidano commented on #180
Oops this duplicates #85

[2020-01-06 11:34] #180 closed

[2020-01-14 11:39] zordym commented on #177
Hello @timche,

I can test your application.

My setup: Mac os catalina

[2020-01-22 08:12] Ordissimo commented on #174
Hi,
I'll put you in a copy, and then here's where I've come up with a little solution.
https://github.com/minbrowser/min/pull/890

Thank you

[2020-01-24 07:34] nand2 commented on #174
Hi!

Please find here a working fix for accounts.google.com login.
https://github.com/minbrowser/min/pull/893
Let me know if you think of a better approach!

Thanks

[2020-01-25 20:49] zzpxyx commented on #177
@timche Hopefully I'm not late for the game. I have access to Arch Linux, macOS Catalina, and Windows 10.

[2020-01-27 13:15] Cantello commented on #177
Would it also be possible with this to switch to other Google services (thinking of calendar & Docs)?

[2020-01-27 16:35] timche commented on #177
There are some apps out there that support multiple Google services, but I haven't tried them yet. My primary goal with Gmail Desktop is to focus on Gmail and eventually add other Google services in the future.

[2020-01-30 00:22] shamoons opened #181 "Any way to incorporate Chrome extensions like Grammarly?"

[2020-01-30 15:01] timche commented on #181
Unfortunately not possible.

[2020-01-30 15:01] #181 closed

[2020-02-03 22:51] yebrahim opened #182 "Opening a link creates browser window with an extra tab"
Clicking a link in an email opens a new Chrome window with two tabs, an empty one and one with the link that was clicked.

This happens for me on Mint 19.3, and gmail-desktop 2.17.

[2020-02-18 03:21] YijunYuan opened #184 "Proxy support"
As you may know, Gmail is inaccessible in mainland China, we have to use a proxy server (the popular choice is SOCK5 proxy). So it's wonderful if this Gmail desktop client support proxy settings, or, in order to use this, we have to use a global proxy, which is not always convenient.

[2020-02-18 14:06] timche commented on #184
Related: https://www.electronjs.org/docs/api/session#sessetproxyconfig

[2020-02-28 10:41] cipriancraciun commented on #177
I can test it on OpenSUSE Tumbleweed (I don't need any special package except the Linux x86-64 `.tar.bz` that you already are providing.)

[2020-02-28 10:43] cipriancraciun commented on #177
@timche Please keep this project GMail focused. :)

As you've mentioned there are other projects out there that try to do all this, but given that they don't have any focus on any of these "targeted sites", they aren't best at anything.

Meanwhile this project already does provide useful features for GMail, especially in the UI department by cleaning up some GMail artifacts.

[2020-02-28 10:57] cipriancraciun commented on #89
OK, apparently now that we have custom styles one can "hack" this by adding the following to their "custom styles" file (located in `~/.config/GMail Desktop/custom.css`:

[code]

Apparently the "recommended" way suggested by Mozilla:
* https://developer.mozilla.org/en-US/docs/Web/CSS/@viewport/zoom
* https://developer.mozilla.org/en-US/docs/Web/CSS/@viewport

, doesn't seem to work...

[2020-02-28 22:07] cipriancraciun commented on #77
I've just played with `custom.css` a little bit, and from what I gather it is not injected into "non-main" windows.

For example if one wants to compose an email into a new window (i.e. hold Shift and click the compose button), then that window doesn't have the `custom.css` injected.

[2020-02-29 08:07] YijunYuan commented on #184
This should be helpful. Also, I solved the problem with proxifier.

[2020-02-29 08:07] #184 closed

[2020-04-11 22:40] mIcHyAmRaNe opened #186 ""manage account" height bug"
- Gmail Desktop Version: 2.17.0
- OS Version: Windows 10

Steps to Reproduce:

1. login to an account
2. click in the profile icon in the top-right corner

the width of the appeared card seems to be good, but the height is bad

![gmail](https://user-images.githubusercontent.com/17873513/79056310-3f0b7000-7c55-11ea-8e70-fb016e389097.PNG)

and i have to add that the about gmail desktop didn't work f

[2020-04-13 06:50] Viqsi opened #187 "show destination URL for links hovered over"
One very useful way to avoid phishing is to be able to see the URL that a link is actually going to, Unfortunately, this isn't presently possible in Gmail Desktop. Most browsers handle this via a status bar, showing therein the destination URL of the link presently being hovered over. It would be nice if this, or some kind of tooltip, or some other display of the current hovered-over link's destin

[2020-04-29 15:28] hell0-Wor1d commented on #186
only occur in "Compact Header" mode.
wrong css rule: https://github.com/timche/gmail-desktop/blob/master/css/style.css#L66

[2020-04-29 15:31] timche commented on #186
Thanks for figuring out @hell0-Wor1d

Would anyone mind fixing this? I'm quite busy lately, sorry.

[2020-04-29 21:10] timche commented on #187
We have added a confirmation dialog with showing the URL before the URL will be opened in the browser with #188. Hosts can be trusted for the future. It's similar to what VSCode has implemented.

[2020-04-29 21:10] #187 closed

[2020-04-29 22:09] timche commented on #186
Fixed fccd21e3a5bb26f1c7485d9eb78405703c610ddf

[2020-04-29 22:09] #186 closed

[2020-04-30 07:37] timche commented on #182
Should be fixed f165e7aa1d4f9753a67a749a0fa74c9e779f7952

[2020-04-30 07:37] #182 closed

[2020-04-30 07:55] akamizi commented on #177
OS: Elementary OS
I have various normal and business accounts
I am currently using this:
https://github.com/openWMail/openWMail

[2020-05-03 08:58] cipriancraciun commented on #90
Any updates on this item?  (As with #95, this is the only reason I still have to use sometimes GMail from a browser.)

[2020-05-03 08:58] cipriancraciun commented on #95
Any updates on this item?  (As with #90, this is the only reason I still have to use sometimes GMail from a browser.)

[2020-05-03 09:05] cipriancraciun opened #190 "Add support for disabling the "open external link" warning for **all** domains"
In the latest version 2.18 the "do you want to open the external link" alert was introduced.  (Which I find welcomed for the normal user.)

However advanced users, might use custom `xdg-open` wrappers that already include facilities to triage the opened URL's.  For these advanced users, I would propose adding the following simple "workaround":

If the `trustedHosts` array contains an `*`, then all

[2020-05-03 10:26] cipriancraciun opened #191 "System tray icon not visible anymore on Linux"
- Gmail Desktop version: 2.18.1
- OS version: openSUSE Tumbleweed (rolling)
- window manager: `i3`

The system tray icon is not visible anymore.  The system tray icon was working in 2.17.0.

(I have tried enabling / disabling and then restarting, and even starting with a fresh profile.)

[2020-05-03 17:14] timche commented on #191
It might be possible that this was introduced with upgrading from Electron v7 to v8.

[2020-05-03 17:16] timche commented on #190
We can easily make this configurable through the settings menu by enabling/disabling this feature.

[2020-05-03 17:19] timche commented on #90
We can implement this, but I'm wondering how this feature should look like and how it's accessible.

[2020-05-03 17:22] timche commented on #95
It's part of v3 #177, but due to a rendering bug in Electron, the development is paused. I'll revisit this asap.

[2020-05-03 17:24] timche commented on #157
Point 2 could be solved by reloading Gmail when the machine wakes up. Wdyt?

[2020-05-04 06:37] axllent commented on #177
I'd love to test this as well once it is ready, as I have 5 separate Gmail accounts (personal & business) I need to check. Two machines, Ubuntu 16 & 20 (Unity on both).

[2020-05-04 14:46] cipriancraciun commented on #90
The UI part is indeed the tricky part...  There are at least two distinct problems:
* how to manage these bookmarked searches;  (i.e. add, delete, re-order, etc.)
* how to display these bookmarks in the GMail UI.

Given that this would be an advanced feature I would say that management could be done by simply instructing the user to edit the `config.json` file and allow him to enter a list of book

[2020-05-04 14:47] cipriancraciun commented on #191
I could try different builds if necessary.

[2020-05-04 21:08] timche commented on #72
Actually Gmail already has built-in keyboard shortcuts: https://support.google.com/mail/answer/6594

We should document this in the README.

[2020-05-04 21:08] #72 closed

[2020-05-04 22:22] timche commented on #190
Closed by 72083d435e914fadf55778ddbc1adedc8f0541cb.

[2020-05-04 22:22] #190 closed

[2020-05-12 20:06] kylejbrk opened #192 "Notifications Not Working on Windows"
- Gmail Desktop Version: 2.20
- OS Version: Windows 10

Steps to Reproduce:

None

Hard to describe since I am not sure how notifications work normally. However after a fresh install and reinstall, it seems that I do not get any notifications on Windows. Also the badge counts dont show up in the task tray.

[2020-05-13 19:56] Ivan-Brigidano opened #193 "Compact header doesn't show all the content on G Suite accounts"
As you can see in the image that I attach, the company logo is not fully visible.

<img width="1158" alt="Captura de pantalla 2020-05-13 a las 21 53 03" src="https://user-images.githubusercontent.com/47502355/81858688-6612d580-9564-11ea-88ac-99d951977cc8.png">

[2020-05-26 05:48] cipriancraciun opened #194 "Starting `gmail-desktop` multiple times results in multiple instances running (instead of opening an existing one)"
- Gmail Desktop Version: 2.20.0
- OS Version: openSUSE Tumbleweed

Steps to Reproduce:

1. run `gmail-desktop` once, it opens a window;
2. minimize that window to system tray;
3. run `gmail-desktop` again, it opens a window;
4. repeat from step 2 a couple of times;
5. check the running processes, and now we have multiple `gmail-dekstop` instances running minimized at the same time;

This is somewh

[2020-05-28 21:37] timche commented on #194
That might be related to 01cabf9cdb71d7e3761514bffbf71f2e51a6cd10 that has upgraded Electron. We will look into that, thanks.

[2020-05-29 17:52] duongle26 opened #195 "Support dark mode ?"
![image](https://user-images.githubusercontent.com/28813618/83289330-18a69180-a20f-11ea-80da-8c1c7d3ba225.png)

I know there is a default dark mode, but can you adopt this way of style in your app. Greate app, btw

[2020-05-29 18:03] mskelton commented on #195
This was discussed in #75 where we decided to not create a custom dark mode in favor of the default Gmail dark theme.  Maintaining custom styles for Gmail is super hard as their class names are meaningless and you often has to rely on the dom structure instead.

[2020-05-29 18:34] duongle26 commented on #195
@mskelton thanks for your answer. As I don't want to open another issue just for a question, I will put it here: How can I enable push notification, for example, something like this shows up when a new email arrives?
![image](https://user-images.githubusercontent.com/28813618/83293170-94a3d800-a215-11ea-8186-fa09d7d321c9.png)

[2020-05-30 21:24] mskelton commented on #195
Have you enabled desktop notifications in gmail?  This article explains how to: https://support.google.com/mail/answer/1075549?co=GENIE.Platform%3DDesktop&hl=en

[2020-05-31 17:22] #195 closed

[2020-06-06 09:34] duongle26 commented on #195
Got that working, thanks

[2020-07-01 21:11] mattalexander-pantheon opened #196 "[Mac] Left click menubar icon to open UI, right click to show the menu"
[Mac, version 2.20.0]

Every time I want to open the app from the menubar icon I need to click twice: once to open the menu, and once to click "Open".

Considering that that action is the most common one, it might be nice to save a click and just open the app if I left click on the icon. The menu could still be available with a right click.

For example, GCal for Google Calendar does this:
https:/

[2020-07-01 21:23] mattalexander-pantheon opened #197 "[Mac] Option to hide dock icon"
[Mac, version 2.20.0]

If I have the menubar icon available, I don't need the dock icon too. Can you add a way for me to remove it?

[2020-07-12 21:52] Chriscbr commented on #177
I'd be happy to test this feature (I have about three Gmail accounts I check on at the moment). I can test on macOS and Windows 10 with my currently available hardware. 😄

[2020-07-22 10:38] gingerbeardman opened #200 "Hide/minimise "sign in" area"
Please allow hiding or minimising of this "sign in" area:

![Screen shot 2020-07-22 at 11 38 00](https://user-images.githubusercontent.com/49612/88166821-cd599f80-cc0f-11ea-90d2-1e04fe9c735a.png)

[2020-07-22 10:44] gingerbeardman commented on #200
I did this using custom style

[code]

[2020-07-23 18:42] cipriancraciun commented on #194
Any updates on this?

It's kind of really blocker, as I have to clean the processes at least 3-4 times a day when my RAM gets full and Linux starts swapping heavily...

(BTW, if you release beta versions more often, people can try and see if various bugs are present / solved.)  :)

[2020-07-23 18:46] timche commented on #194
Ah, sorry man. Didn't have time yet to look into that. I'll check if I can spend some time on the weekend.

[2020-07-25 19:43] timche commented on #194
I've released [v2.20.1](https://github.com/timche/gmail-desktop/releases/tag/v2.20.1) which upgrades Electron to v9. I hope this will fix this your issue, because I couldn't find anything in the app code that could cause it.

[2020-07-27 04:22] duongle26 commented on #200
You can do this in the setting
![image](https://user-images.githubusercontent.com/28813618/88503271-60714b80-cffb-11ea-8fcc-b6e35345792f.png)

[2020-07-27 05:41] cipriancraciun commented on #191
Apparently with v0.20.1 the problem was solved.

[2020-07-27 05:44] cipriancraciun commented on #194
I've just updated to 0.20.1, and after using it for a couple of days I'll report back.

(I've tried reproducing the issue with the new version, but failed.  Although even with the previous version it happened perhaps only once in 10 tries.  So we'll see...)

[2020-07-27 06:03] gingerbeardman commented on #200
Oh! That's new to me.

thanks!

[2020-07-27 08:22] #191 closed

[2020-07-27 08:24] #200 closed

[2020-07-28 18:07] cipriancraciun commented on #194
Unfortunately the issue is still present, and I do get multiple `gmail-desktop` instances running...

@timche please re-open this issue.

[2020-07-28 18:26] fatihturan opened #203 "Add to CC Recipients Shortcut Toggling Inspector Pane"
- Gmail Desktop Version: 2.20.1
- OS Version: macOS Mojave 10.14.6

Steps to Reproduce:

1. Click on the Compose button to open the New Message window.
2. Press on the CMD+Shift+C from the keyboard.

When reproducing these steps it's toggling inspector pane on the Gmail Desktop window.

[2020-07-28 18:51] #203 closed

[2020-07-28 22:57] timche commented on #194
It's very difficult to say what the error could be without reproducing it 100%. Would appreciate some experimentations and observations. My current guess is that the first instance somehow freezes and so the second instance doesn't know about another instance so this condition will be executed: https://github.com/timche/gmail-desktop/blob/master/src/app.ts#L52-L54

[2020-07-28 23:50] ipkpjersi opened #204 "Cannot edit config file on Linux"
I am presented with this error when attempting to edit the config file:
![](https://i.imgur.com/fkanp27.png)
- Gmail Desktop Version: 2.20.2
- OS Version: Ubuntu 18.04 with Xfce 4.12

Steps to Reproduce:

1. Install via deb on Ubuntu 18.04 File -> Open
2. Go to Settings -> Advanced -> Edit Config File

[2020-07-28 23:52] ipkpjersi commented on #195
I attempted to enable dark mode through Gmail settings but it appears I am missing the settings button:

![](https://i.imgur.com/lQDWVxJ.png)

Should I create a new issue for this? I am not sure if this is worth creating an issue for or if this is an issue with Gmail itself and not with this app?

[2020-07-29 01:50] ipkpjersi opened #205 "Email notifications not working on Linux"
I am not recieving any email notifications, I am only getting the red tray icon when I recieve an email. I am using Linux.

- Gmail Desktop Version: 2.20.2
- OS Version: Ubuntu 18.04 with Xfce 4.12

Steps to Reproduce:

1. Recieve an email
2. There is no email notification

[2020-07-29 04:25] cipriancraciun commented on #205
(I am currently using 2.20.1, so unless this is a bug introduced in this latest patch, see my reply bellow.)

I've been using `gmail-desktop` for quite some while on Linux (openSUSE Tumbleweed) with `i3` window manager (thus a similar lightweight / non-Gnome / non-KDE environment), and notifications always worked, thus please check the following:
* are you receiving notifications from other applic

[2020-07-29 04:27] cipriancraciun commented on #195
@ipkpjersi Go in the `gmail-desktop` menu (by pressing `Alt` if it is hidden), then `Settings > Appearance > Hide Support` and uncheck that.  Then you can see the usual GMail settings button in the usual place.

[2020-07-29 04:30] cipriancraciun commented on #194
I completely agree it's a very strange issue as it can't be easily reproduced.

How could I do the following:
* check that the existing instance is not frozen?
* update the `app.ts` code in my deployed version to add a logging statement to see if that check fails?

[2020-07-29 09:42] timche commented on #203
Fixed in v2.20.2

[2020-07-29 09:43] timche commented on #204
This has been introduced with the upgrade of Electron: ed373173d706214c89b7386c7501d292283ef390

We need to upgrade `electron-store` that supports the latest Electron version.

[2020-07-29 11:58] ipkpjersi commented on #195
That worked, thanks.

[2020-07-29 12:06] ipkpjersi commented on #205
I believe I had display notifications turned off in GMail settings, so I think that was the issue. It seems you solved two of the issues I've had so that helps a lot. I wish there was a way to force notifications to only one specific monitor instead of the monitor with my current mouse but I guess that is not possible?

I am guessing there is no way to get a display of the count of unread emails i

[2020-07-29 12:06] #205 closed

[2020-07-29 14:01] cipriancraciun commented on #205
That is something you have to configure in your notifications display tool.  (For example in case of `dunst` you can use the `monitor` and `follow` options to configure this.)

My guess is that is technically possible, however I believe it would require us to have one icon per number of unread emails (so say up to 10?).

[2020-07-29 14:04] cipriancraciun commented on #195
:)  Yes...  I used to have a custom user-style (this is something that `gmail-desktop` supports now) that would override those colors, but reverse engineering GMail's theme CSS classes is like trying to reverse-engineer assembler code...

So it is technically possible, but its something strictly tied to the theme you are choosing, and unfortunately can break at any moment due to changes done by GM

[2020-07-29 16:00] ipkpjersi commented on #205
I think since I'm using xfce4, I'm using xfce4-notifyd, seems like xfce4-notifyd-config does have support for running notifications (possibly even specific for one app) on the primary monitor: https://docs.xfce.org/apps/notifyd/preferences, but perhaps not with my version of xfce4-notifyd-config: http://i.imgur.com/zcJjll1.png unless I'm using a different notification daemon altogether? No idea, I

[2020-08-24 21:44] inspire22 opened #206 "Menu checkbox for 'default email client' doesn't work"
- Gmail Desktop Version: 2.23.2.0
- OS Version: windows 10 Version	10.0.19041 Build 19041

Steps to Reproduce:

1.  Uncheck/recheck use default mailto agent in the settings menu
2. Open windows default apps list

Unfortunately, there's no way to select a custom program in the windows menu and gmail desktop isn't listed there, so I can't choose this manually either :(

Gmail desktop isn't listed in

[2020-08-24 22:41] timche commented on #206
Thanks for reporting this. This must probably be configured in `electron-builder` with `fileAssociations` (https://www.electron.build/configuration/configuration).

[2020-08-29 06:47] pedrodonkey commented on #177
✋ Available to test if this is still in the works. Running macOS Catalina 10.15.6 (19G2021).

[2020-09-22 13:51] diegonogueira commented on #35
Not working here...

[2020-09-24 17:31] henrikrudstrom opened #207 "Keyboard shortcuts for switching accounts"
I enjoy working with keyboard shortcuts, and gmail has great support for them out of the box, but one thing is missing, and that is to be able to switch account using a keyboard account

Set up a hotkey (configurable) for opening the account selector in the top left corner and select account using arrowkeys + enter.

[2020-10-01 20:52] owenshaupt opened #208 "Use forward/back controls to navigate to/from the inbox and other pages"
When using the Gmail web app, I often use the back shortcut button on my mouse to go back to the inbox and, less often, use the forward shortcut button on my mouse to return to an email I backed out of. This might apply to other methods, _e.g._ using backspace to go back.

[2020-10-02 14:14] timche commented on #208
Thanks for your suggestion. So we could just use the back and forward buttons to literally go back and forward like in the browser.

[2020-10-02 16:28] owenshaupt commented on #208
Yes! Given my short experience with the app, it seems like it could fit in as something hideable/togglable like the footer and sidebar.

[2020-10-18 00:09] pilotstew commented on #204
Any workaround for this?

[2020-10-22 05:36] pedrodonkey commented on #208
+1 for this. It's become second nature on a mac using the swipe gestures on the magic mouse to go back to inbox which i assume is just invoking the browsers back command. Would def be a nice to have.

[2020-10-24 16:06] duongle26 opened #211 "Update new Gmail logo"
![image](https://user-images.githubusercontent.com/28813618/97086447-7f5c9980-164d-11eb-92d1-02b694032786.png)

[2020-10-31 01:33] D00bie5280 opened #212 "Cannot log in"
I can't log into the desktop app as it says that the app may not be secure

- Gmail Desktop Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2020-11-02 08:47] #212 closed

[2020-11-02 09:34] muuuh opened #214 "Requests at launch"
Hello,

I'm using the v2.20.2 of https://github.com/timche/gmail-desktop/releases
I have disabled the menu item Settings/Auto Update and restarted the app.

I still had to block requests with LittleSnitch to
- 208.67.222.222 (seems to be openDNS)
- icanhazip.com
- ipify.org

The menu item Settings/Advanced/Debug Mode (after restart) reveals the menu item Help/View Logs. The file log.log contains t

[2020-11-02 17:38] timche commented on #214
I assume these calls are made by this line: https://github.com/timche/gmail-desktop/blob/master/src/app.ts#L249 which is making a request to https://www.whatismybrowser.com.

I understand your privacy concern and we could make this configurable.

[2020-11-03 00:16] #204 closed

[2020-11-03 11:51] Davetheraveuk opened #216 "Arch + Vivaldi: Login and user-agent problem."
- Gmail Desktop Version: 2.20.2-1
- OS Version: Arch Linux 64-bit.

Steps to Reproduce:

1. Install from the AUR
2. Run program and attempt to log in.

I have tried changing the user-agent via github page here:
https://github.com/timche/gmail-desktop#i-cant-sign-in-this-browser-or-app-may-not-be-secure

I use Vivaldi as my web browser.
If you need any more info then get in touch. :)
Thanks, Dave.

[2020-11-13 10:36] timche commented on #216
What specific problem are you facing? Please specify the error.

[2020-11-13 11:27] timche commented on #211
Updated in https://github.com/timche/gmail-desktop/releases/tag/v2.20.4

[2020-11-13 11:27] #211 closed

[2020-11-15 07:28] HagaiHargil commented on #216
I'm on Arch, installed from AUR v2.20.4 with Firefox and I'm having the same issue.

It gives the "using non-supported user agent" message on login and the screen tells me that the app is insecure. I tried manually changing my user agent to basically all of the options in the link, and a few more, but to no avail - the issue persists.

[2020-11-17 11:59] pinguluk commented on #192
Same issue

[2020-11-17 12:27] pinguluk commented on #192
It seems you have to enable the desktop notifications by going on Gmail settings -> General -> Desktop notifications and set it to New mail notifications on. But still no badge counts.

[2020-11-17 22:27] cig0 commented on #171
HI,

I downloaded the Snap package **gmail-desktop-2.20.4-linux.snap** to give it try, got the following error message:

`error: cannot find signatures with metadata for snap "gmail-desktop-2.20.4-linux.snap"`

Could it be isn't published on the Snapcraft store? At least, I couldn't find it there.

[2020-11-18 11:21] timche commented on #192
Unread badge count feature only exists on macOS. On Windows/Linux the icon is either monochrome (no unread) or in color (unread).

[2020-11-18 11:21] #192 closed

[2020-11-23 10:42] timche commented on #171
We haven't submitted it to the Snapcraft store.

[2020-12-03 17:25] eriktdesign opened #217 ""Hide Right Sidebar" only hides icons, not container"
- Gmail Desktop Version: 2.20.4.0
- OS Version: Windows 10.0.18363

Steps to Reproduce:

1. Go to Settings->Appearance->Hide Right Sidebar
2. Icons are hidden, but the container they were in remains as empty space.

[2020-12-11 07:21] cipriancraciun opened #219 "On Linux the sys-tray icon opens a menu on left-click"
- Gmail Desktop Version: 2.20.4
- OS Version: Linux, OpenSUSE Tumbleweed

Steps to Reproduce:

In the previous version (2.20.2), when left-clicking the sys-tray icon opened-up the GMail window;  currently it shows a menu with `Show` and `Quit` just like when pressing right-click.

Possibly this issue is related to #196, however that issue is from July, thus my assumption predating 2.20.2, and OSX,

[2020-12-11 12:04] timche commented on #219
I think in Electron they might have changed this behaviour, so I wouldn't necessarily consider this as a bug. I'll check if this can be configurable.

[2020-12-11 14:06] cipriancraciun commented on #219
Although I agree this is not a "bug" in the software-engineering sense of the word, it is an unexpected change of past behaviour.  Therefore from a "functionality" point of view, or UX point of view, it is at least a minor "bug".  :)

(Just imagine one updates his OS, and all of a sudden right-click and left-click are swapped.  It wouldn't be a bug, but it would be frustrating as hell.)  :)

[2020-12-14 07:10] cipriancraciun opened #220 "Add an option to disable hardware acceleration"
For almost a month now both GMail-desktop, Slack and Chromium have quite a few glitches regarding the GPU usage.  From lockups, to 100% CPU, to complete monitor freeze (that is solved by killing the processes).

In case of Chromium and Slack the issues seems to be revolved by disabling hardware acceleration.

Thus I would propose to add such an option also for GMail-desktop.  If not a configuratio

[2020-12-29 16:16] lmcarreiro commented on #47
@timche I'm having the same error when I changed the app id of my electron app (not related to gmail desktop).

What did you do to change the app id without issues when updating? Are you still using the same app id to avoid this update issue?

[2021-01-28 14:03] danielcampagne commented on #181
It is such a deal-breaker for me I am thinking of adding it on a fork. Do you think using [Chrome Extension Support](https://www.electronjs.org/docs/api/extensions) would work?

[2021-01-31 23:53] CrazyHoodlem commented on #208
I too would like to see this added, mainly because I wanted to add another account but then decided not to. I had to restart because there was no way of going back to my email.

[2021-02-07 21:53] tacoe commented on #145
(and perhaps a way to indicate that a download was finished at all, which is currently unclear -- and ideally a link/button to open it)

[2021-02-15 12:55] brahimmouhamou commented on #25
What is the status of this feature?
I'm also willing to test (macOS Catalina 10.15.6)

[2021-02-26 17:33] restfuladi opened #224 "Add Apple Silicon support"
Electron 11 supports arm64, would it be possible to get native build? Love the app, thanks!

[2021-03-02 09:41] AjdinHusic opened #225 "Shows no dock icon in Ubuntu 20.10"
- Gmail Desktop Version: v2.20.4
- OS Version: Ubuntu 20.10

Steps to Reproduce:

1. installed the .deb application
2. open the application

shows following icon in dock:
![image](https://user-images.githubusercontent.com/44066226/109629166-d9adbf80-7b43-11eb-8f25-6b4916cc7773.png)

[2021-03-02 15:15] AlexR00T opened #226 "Better Dark theme"
Im really really sorry but cant seem to find an issue or previous feature requests. And sorry but wasn't sure if it should go as a feature request or issue

I have on a my gmail their dark theme but when i use your app and try to compose an email. That compose window is light themed. Would be nice if it could be fixed so that compose window get also that dark theme. Loads of thanks

[2021-03-02 16:22] timche commented on #226
A dark theme feature is currently work in progress at #223. Please stay tuned.

[2021-03-02 16:23] timche commented on #224
Electron will be upgraded to v11 in #223. Please stay tuned.

[2021-03-03 20:19] eriktdesign opened #227 "Keyboard shortcuts add indentation"
- Gmail Desktop Version: 2.20.4
- OS Version: MacOS Big Sur 11.1

Steps to Reproduce:

1. Compose a message
2. Use a keyboard shortcut with Cmd (eg Cmd+V, Cmd+B, etc)
3. Current line of compose is indented

For some reason whenever I paste text, or try to make formatting changes using keyboard shortcuts, the current line of text is indented. The line becomes indented one more level each time I pre

[2021-03-05 06:28] wennaspeedy commented on #225
Also in my case. Manjaro and appimage.

[2021-03-05 14:06] #208 closed

[2021-03-05 14:06] #220 closed

[2021-03-06 16:02] timche commented on #224
@restfuladi can you please test if the arm64 version works in this test build? https://github.com/timche/gmail-desktop/suites/2194117774/artifacts/45264896

[2021-03-06 16:05] timche commented on #225
Can you please test if the dock icon is still missing in this test build? https://github.com/timche/gmail-desktop/suites/2194117774/artifacts/45264895

[2021-03-06 16:07] timche commented on #227
I've experienced this before as well, but it's not happening at the moment.

Can you please check if it's still happening in this test build? https://github.com/timche/gmail-desktop/suites/2194117774/artifacts/45264896

[2021-03-06 16:07] restfuladi commented on #224
I just installed the .dmg from the download and Activity Monitor says "Architecture Intel"

[2021-03-06 16:08] timche commented on #217
The "Hide Right Sidebar" setting has been removed in favour of the native Gmail feature on the bottom right.

[2021-03-06 16:08] #217 closed

[2021-03-06 16:38] timche commented on #224
Thanks. I'm [currently building an universal app](https://github.com/timche/gmail-desktop/runs/2046961991?check_suite_focus=true) for you to try again.

[2021-03-06 17:03] timche commented on #224
New test build: https://github.com/timche/gmail-desktop/suites/2194300285/artifacts/45269589

[2021-03-06 19:01] restfuladi commented on #224
Stuck here, yubikey is inserted.

<img width="477" alt="image" src="https://user-images.githubusercontent.com/14058796/110217824-30056000-7eae-11eb-8c97-2879df9ad431.png">

[2021-03-06 19:38] timche commented on #224
Can you elaborate please? Is it frozen? Did you try multiple times?

[2021-03-06 19:44] restfuladi commented on #224
Yes tried it multiple times. It's not frozen, the animated blue line keeps cycling and the page is waiting for the security key without failing over to the "try a different way" screen.

[2021-03-06 20:03] timche commented on #224
Can you please try the test build and latest release again, just to verify that it's not an issue with Gmail or the security key itself.

[2021-03-06 20:16] restfuladi commented on #224
It was my mistake, it was expecting me to touch the key. The UI doesn't change at all when you insert it so I assumed it wasn't detected. Once I touched it it logged in and seems to be working normally.

[2021-03-06 20:17] timche commented on #224
Can you confirm that the process architecture is arm64?

[2021-03-06 20:18] restfuladi commented on #224
<img width="725" alt="image" src="https://user-images.githubusercontent.com/14058796/110219771-0e5da600-7eb9-11eb-9e17-02cc2c8e6357.png">

[2021-03-06 20:49] timche commented on #224
Awesome, thanks. I'll release this.

[2021-03-06 20:49] #224 closed

[2021-03-06 23:10] timche commented on #224
Released in [v2.21.1](https://github.com/timche/gmail-desktop/releases/tag/v2.21.1).

[2021-03-07 01:18] timche commented on #224
Can you give me a final confirmation that this release is also working please?

[2021-03-07 01:44] restfuladi commented on #224
I haven't seen any issues yet unique to this build. Sent a few emails and archived a few more, so far so good.

[2021-03-07 01:46] timche commented on #224
Great, thank you for testing so quickly and being so responsive!

[2021-03-09 11:32] AjdinHusic commented on #225
Still doesn't work sir.

[2021-03-09 21:51] timche commented on #225
Can you please test this build? https://github.com/timche/gmail-desktop/suites/2217074279/artifacts/45890033

[2021-03-10 07:00] wennaspeedy commented on #225
Nope
![image](https://user-images.githubusercontent.com/10447994/110589456-b94eb800-8176-11eb-8320-bf2b18547679.png)

[2021-03-10 07:05] wennaspeedy commented on #225
Change your package.json:

[2021-03-10 07:57] wennaspeedy commented on #225
I fixed it, check my pull request.

[2021-03-10 19:11] timche commented on #225
Fixed with #228

[2021-03-10 19:11] #225 closed

[2021-03-10 19:50] timche commented on #225
Released in [v2.21.2](https://github.com/timche/gmail-desktop/releases/tag/2.21.2)

[2021-03-10 20:12] yochananmarqos opened #230 "[Linux] Build fails"
- Gmail Desktop Version: 2.21.2
- OS Version: Manjaro GNOME

Building 2.21.0 is fine, but anything newer than that fails.

`package.json` modifications:
[code]
[code]

[code]

[2021-03-10 20:15] timche commented on #230
You are missing `tsc` from the `"dist": "tsc && run-s dist:*"` command. Run `yarn tsc` before running `electron-builder --linux`

[2021-03-10 20:15] #230 closed

[2021-03-10 20:16] muuuh commented on #214
Hi, thank you for your answer. I suppose this is the correct line.

With the newest version there seem to be much more connection tries, like the ip-addresses of resolver1.opendns.com, resolver2.opendns.com, ...

Could you please make a change to make this configurable (although I don't understand why these requests are needed at all)?

[2021-03-10 20:17] timche commented on #214
It's required to fix the User Agent issue: https://github.com/timche/gmail-desktop#i-cant-sign-in-this-browser-or-app-may-not-be-secure

[2021-03-10 20:20] timche commented on #214
Normally the call is only made when [this setting](https://github.com/timche/gmail-desktop/blob/master/src/config.ts#L44) is `true`. Please check your config and set it to `false` to disable it.

[2021-03-10 20:26] yochananmarqos commented on #230
Thanks, that did it.

[2021-03-10 20:31] muuuh commented on #214
Hmm, I cannot confirm this. I have the following settings:
`{
	"autoUpdate": false,
	"lastWindowState": {
		"bounds": {
			"x": 397,
			"y": 218,
			"width": 1096,
			"height": 603
		},
		"fullscreen": false,
		"maximized": false
	},
	"compactHeader": true,
	"hideFooter": true,
	"hideSupport": true,
	"debugMode": false,
	"launchMinimized": false,
	"autoHideMenuBar": false,
	"enableTrayIcon": false

[2021-03-10 23:12] timche commented on #214
I've reworked the custom user agent logic, so there's no request made to `whatismybrowser.com` anymore, instead it reads it from a JSON file that's shipped with the app: https://github.com/timche/gmail-desktop/commit/dc0f70b1510967cc6a3428a657bfc3eef1b4dabf

[2021-03-10 23:27] timche commented on #219
Closing since it's a bug that Electron needs to fix.

[2021-03-10 23:27] #219 closed

[2021-03-10 23:28] timche commented on #194
We've released a new version few days ago where we've upgraded Electron to the latest version. Are you still experiencing this issue? If not, we can close it.

[2021-03-10 23:38] #196 closed

[2021-03-10 23:51] #216 closed

[2021-03-10 23:52] #157 closed

[2021-03-10 23:53] #197 closed

[2021-03-11 10:12] timche commented on #194
I'm closing this issue for now. Let me know if this issue still persists and we can re-open it.

[2021-03-11 10:12] #194 closed

[2021-03-11 13:53] AjdinHusic commented on #225
@timche Still no app icon in v.21.2.

[2021-03-11 14:01] timche commented on #225
Works for me on latest version 2.22.0:
![Screen Shot 2021-03-11 at 14 01 02](https://user-images.githubusercontent.com/8075074/110798610-41fe4e80-8272-11eb-879c-b8d11f3b2056.png)

[2021-03-11 14:09] AjdinHusic commented on #225
Do I need to logout / lock  again maybe? I already uninstalled previous version and installed this one,
The version also seems to be missing log files in /opt folder, nut sure if that is intended or means anything to you, but maybe it is expected I don't know.

[2021-03-11 16:04] timche commented on #225
I figured out that the icon is still not working with the `.deb` package. We've fixed it only for the `.AppImage` file recently, so it was another bug.

I've released a fix for the `.deb` package in [v2.23.0](https://github.com/timche/gmail-desktop/releases/tag/2.23.0)

CC @AjdinHusic

[2021-03-11 16:05] timche commented on #145
@PlaidRadish `Show Save As Dialog Before Downloading` has been added as well.

[2021-03-11 16:19] timche commented on #225
@AjdinHusic please let me know if it works for you now. I've tested the `.deb` package on Ubuntu and it works.

[2021-03-11 20:50] timche commented on #226
Implemented in 719b01d20fc3f69a71619ecc633efd4155b2e75e and released in https://github.com/timche/gmail-desktop/releases/tag/v2.24.0

[2021-03-11 20:50] #226 closed

[2021-03-11 20:52] timche commented on #193
Fixed in https://github.com/timche/gmail-desktop/releases/tag/v2.24.0

[2021-03-11 20:52] #193 closed

[2021-03-11 22:19] timche commented on #195
Added dark mode in https://github.com/timche/gmail-desktop/releases/tag/v2.24.0

[2021-03-11 22:20] timche commented on #160
Added dark mode in https://github.com/timche/gmail-desktop/releases/tag/v2.24.0

[2021-03-11 23:15] timche opened #233 "Feedback 📣"
If you enjoy Gmail Desktop, your feedback is much appreciated 🙂

[2021-03-11 23:18] #233 closed

[2021-03-12 02:23] PlaidRadish commented on #145
Wow! That was fast! You're the best, Tim!

Thanks!

[2021-03-12 07:15] wennaspeedy opened #234 "Can't check for updates"
- Gmail Desktop Version: 2.24
- OS Version: manjaro - pacman

Steps to Reproduce:

checking update:

LOG:
[code]

[2021-03-12 07:17] wennaspeedy opened #235 "Show/hide app with tray icon click only"
It would be great show/hide app with tray icon on left click only.

Right click would be same as now it is.

[2021-03-12 08:15] timche commented on #235
It's implemented that way already (https://github.com/timche/gmail-desktop/blob/v2.24.0/src/app.ts#L416-L420), but it's really not working consistently on Linux. See https://github.com/electron/electron/issues/14941 and https://github.com/sindresorhus/caprine/issues/1210.

[2021-03-12 08:15] #235 closed

[2021-03-12 14:17] timche commented on #216
Please let me know if this issue still persists and we can re-open this again.

[2021-03-12 14:19] timche commented on #234
Might it be possible it's because the folder name has a space? Possibly related issue: #94

[2021-03-13 06:28] muuuh commented on #214
Hi, thank you for your efforts. I'm sorry, but I cannot confirm that this changed the behavior. The client (release 2.24.0) still continuously tries to make the above connections. I have removed "~/Library/Application Support/Gmail Desktop" in attempt to try to minimize errors (mismatching config) on my side.

Perhaps it's a different function as the requests go to icanhazip.com, etc. and not to w

[2021-03-13 07:29] duong-le commented on #25
This is the only missing feature that prevents me from using this app as a daily mail client. Can't wait for it.

[2021-03-13 08:03] wennaspeedy commented on #234
Maybe, but I wont change it manually - this path is hardcoded - name of app - possibly as in issue #94 . You can't choose folder while you're installing linux package. I think space in the name is a mistake (I mean in linux).

[2021-03-13 11:09] timche commented on #234
https://github.com/electron-userland/electron-builder/issues/3844

[2021-03-13 11:09] #234 closed

[2021-03-13 11:38] timche commented on #214
The only request that is being made in the app is `https://mail.google.com`. Can you please check if this the same requests are made when you open `https://mail.google.com` in your browser?

[2021-03-13 11:59] timche commented on #234
You should probably install it from the [Snap Store](https://snapcraft.io/gmail-desktop), but it hasn't been updated there for awhile. I'll try to get ownership of it to update it.

[2021-03-13 12:04] timche commented on #171
I'll try to release it in the Snap Store, but I'll need to get ownership of the [currently registered snap](https://snapcraft.io/gmail-desktop). Will get back to you later.

[2021-03-13 12:08] timche commented on #234
Related issue: https://github.com/timche/gmail-desktop/issues/171

[2021-03-13 23:11] timche commented on #25
There is something in the works. Stay tuned!

[2021-03-14 15:50] muuuh commented on #214
I think it is https://github.com/sindresorhus/is-online

[2021-03-14 18:42] timche commented on #214
Thanks. I'll take a look at what can be done.

[2021-03-14 22:14] timche commented on #177
It has been a while and I'm just re-opening this issue, because I'm happy to announce that v3 is now finally coming! I hope that most of you are still sticking around and are still interested to be alpha testers.

I'll release the first alpha version very soon, but in the meantime please enjoy some previews of what's coming:

![Screen Shot 2021-03-14 at 22 07 37](https://user-images.githubusercont

[2021-03-14 23:37] #214 closed

[2021-03-14 23:43] timche commented on #214
Fixed in https://github.com/timche/gmail-desktop/releases/tag/v2.24.1

[2021-03-15 01:31] timche commented on #177
The first alpha version is released!

https://github.com/timche/gmail-desktop/releases/tag/v3.0.0-alpha.1

[2021-03-15 07:10] mafsi opened #238 "JavaScript error occured in the main process (gmail-desktop-2.24.1-win.zip)"
- Gmail Desktop Version: 2.24.1
- OS Version: Windows 10

Steps to Reproduce:

1. Download zip from release
2. unpack & overwrite the existing one
3. start `Gmail Desktop.exe`

![gmail](https://user-images.githubusercontent.com/61430691/111116133-3ced1800-856e-11eb-9be9-a7a8b61daba3.jpg)

[2021-03-15 07:10] bsramin commented on #177
Great Job! 👏

[2021-03-15 07:32] duong-le commented on #177
![image](https://user-images.githubusercontent.com/28813618/111118114-f661e280-859a-11eb-98ae-97dbb73fb50e.png)
So I did set up 2 accounts, enabled `Hide footer` and this is the result I get from the 1st account. The second account is perfectly fine, any idea?

[2021-03-15 08:58] timche commented on #238
Thanks a lot for reporting this! I've quickly released a fix with https://github.com/timche/gmail-desktop/releases/tag/v2.24.2

[2021-03-15 08:58] #238 closed

[2021-03-15 09:09] pedrodonkey opened #239 "Homebrew download fails"
Trying go re-install through homebrew and get the following error:

[code]

Also, Is there anyway to install the alpha release through homebrew as am eager to test new multi-account updates?

Seems alpha release is not signed and cannot be launched on Mac OS when installed manually through a .dmg download either.

[2021-03-15 09:13] timche commented on #239
Unfortunately our cask is currently broken. A PR is open (https://github.com/Homebrew/homebrew-cask/pull/101049) and just waiting to be reviewed and merged.

Homebrew only allows stable releases, sorry.

[2021-03-15 09:17] timche commented on #177
@duong-le Unfortunately it's difficult to judge where why it's cut off. I'll provide an option to open the dev tools for Gmail so you can have a look yourself.

[2021-03-15 09:20] brahimmouhamou commented on #177
hi @timche,

Thanks for this release, eager to use it!

I'm having a problem adding my Gmail account, I always get the message "This browser or app may not be secure".
So I was following the troubleshooting steps, https://github.com/timche/gmail-desktop#troubleshooting. I added the latest browser:

`"customUserAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like

[2021-03-15 09:27] timche commented on #177
@brahimmouhamou were you getting the pop up to let Gmail Desktop fix it automatically like described in the [troubleshooting section](https://github.com/timche/gmail-desktop#i-cant-sign-in-this-browser-or-app-may-not-be-secure) when shown the message "This browser or app may not be secure"?

![](https://github.com/timche/gmail-desktop/raw/main/media/sign-in-fix-dialog.png)

[2021-03-15 09:27] pedrodonkey commented on #239
Copy that. Will wait for homebrew to approve and merge.

Regarding `Seems alpha release is not signed and cannot be launched on Mac OS when installed manually through a .dmg download either.`

Any chance to get the alpha release signed so i can test on Mac OS through a direct download->install?

[2021-03-15 09:38] timche commented on #239
It seems like the certificate on CI is expired. I've refreshed it and currently rebuilding it.

[2021-03-15 09:42] brahimmouhamou commented on #177
@timche sorry, it's fixed!

I did the popup to auto fix it and tried to auto fix it before but I kept having the same problem.
But now I tried it again and it works now. Only difference that know is that I already have an existing account (my Google for work) or some kind of caching (?).

[2021-03-15 10:48] timche commented on #177
@brahimmouhamou each account is having their own session storage, so nothing is shared. The user agent is a global setting for all accounts. You can try to reproduce it with `Settings` → `Advanced` → `User Agent` → `Remove Custom User Agent` and log in again in the affected account.

[2021-03-15 10:51] timche commented on #177
@pedrodonkey I've rebuilt the v3.0.0-alpha.1 release with updated macOS certificates. Can you please check again and provide screenshots of the warning/error message if necessary?

[2021-03-15 10:57] timche commented on #207
Will be implemented with #25

[2021-03-15 10:57] #207 closed

[2021-03-15 10:57] timche commented on #133
Will be obsolete with #25

[2021-03-15 10:57] #133 closed

[2021-03-15 10:58] timche commented on #95
Will be obsolete with #25

[2021-03-15 10:58] #95 closed

[2021-03-15 14:19] citydelver opened #240 "Question: how do I open "settings"?"
Hello. Sorry for the probably obvious question, but how do I get to change settings? Can't find them anywhere...

[2021-03-15 14:23] timche commented on #240
Which OS are you using?

- If you are on macOS, the settings can be found in the system menu bar on the top left of your screen. - If you are on Linux or Windows, it can be found in the app menu bar on top of the app.
	- If the app menu bar is not visible, then it might be hidden and it can be toggled with <key>Alt</key>.

[2021-03-15 14:23] #240 closed

[2021-03-15 17:32] timche commented on #239
@pedrodonkey I've rebuilt the v3.0.0-alpha.1 release with updated macOS certificates. Can you please check again and provide screenshots of the warning/error message if necessary?

Edit: Updating the certificates didn't help, but I've researched a bit and found out that the app must be notarized starting with macOS 10.14.5. The latest https://github.com/timche/gmail-desktop/releases/tag/v2.24.3 is

[2021-03-15 17:48] pedrodonkey commented on #239
Confirmed 2.24.3 installs and launches as expected. Will try v3.0.0-alpha.1 once that get's notarized too.

[2021-03-15 18:46] #177 closed

[2021-03-15 22:07] #25 closed

[2021-03-15 22:08] #76 closed

[2021-03-15 22:08] #78 closed

[2021-03-15 22:26] #89 closed

[2021-03-15 22:27] #100 closed

[2021-03-15 22:29] #110 closed

[2021-03-15 22:29] #111 closed

[2021-03-15 22:32] #90 closed

[2021-03-16 09:03] citydelver opened #251 "Allow hiding the titlebar"
Hello. I like that I'm able to hide the menu bar, but that (almost) useless titlebar could really go. Is there a way this could be done? Or is it an Electron limitation?

I do like having my Windows bottom bar visible with clock etc., but I even tried using F11 to see if it went fullscreen like in many browsers (as I could simply switch windows using alt+tab). It didn't do anything though.

[2021-03-16 09:03] timche commented on #239
Cask has been fixed.

The newest version v2.25.0 allows changing the release channel. So you can choose the Dev channel and update to v3.0.0-alpha automatically or downgrade with the Stable channel.

[2021-03-16 09:03] #239 closed

[2021-03-16 09:05] #251 closed

[2021-03-16 09:45] #171 closed

[2021-03-16 16:05] yochananmarqos opened #254 "Cannot find module 'electron-debug'"
**Describe the bug**
Build is failing with 2.25.0, was fine with 2.24.3.

`yarn` 1.22.10-1
`nodejs` 15.11.0-1

[code]

[code]

**Desktop (please complete the following information):**
 - OS: Manjaro GNOME

[2021-03-16 16:21] timche commented on #254
Can't reproduce it on my machine (macOS, Node v14, Yarn v1) and CI on `main` [is green too](https://github.com/timche/gmail-desktop/actions/workflows/ci.yml). I rather think the error must be on your side.

[2021-03-16 16:21] #254 closed

[2021-03-16 16:33] yochananmarqos commented on #254
I'm building in a clean chroot with a local yarn cache.

[2021-03-16 16:39] timche commented on #254
`electron-debug` is defined in the [`package.json`](https://github.com/timche/gmail-desktop/blob/main/package.json#L30) and [`yarn.lock`](https://github.com/timche/gmail-desktop/blob/main/yarn.lock#L1962-L1968) and compiling is working on multiple environments including CI (otherwise releasing v2.25.0 wouldn't have been possible). Unfortunately I can't give you support as this is not an issue with

[2021-03-16 17:20] yochananmarqos commented on #254
Not in the tarball it's not:

`package.json`
[code]

`yarn.lock`
[code]

[2021-03-16 17:33] timche commented on #254
There were no changes made to either of them between v2.24.3 and v2.25.0: https://github.com/timche/gmail-desktop/compare/v2.24.3...v2.25.0

What tarball are you referring to?

[2021-03-16 17:46] yochananmarqos commented on #254
Sorry, you're right, it was on my end. Somehow my `sed` lines removed it:
[code]

I reverted back to the following and it builds now.

[code]

[2021-03-16 17:53] timche commented on #254
Instead of messing with the source code and potentially breaking things, you can directly execute `yarn electron-builder target --linux dir --linux tar.bz2` to build your targets.

- https://www.electron.build/cli
- https://www.electron.build/configuration/linux

[2021-03-16 18:14] yochananmarqos commented on #254
Aha! Thanks for the tip.

[2021-03-17 13:14] eriktdesign commented on #227
@timche I just tested on that build -- still getting the indents.

[2021-03-17 13:25] timche commented on #227
We've released few more version since I asked. Can you please install and test the latest version and report back. If you've time, can you also test the latest v3.0.0-alpha pre-release?

[2021-03-19 12:04] timche opened #257 "Startup is slow with dark mode and many accounts"
Initialize dark mode only on the selected account on startup and the others when selected.

[2021-03-19 12:21] BlueManCZ opened #258 "About section doesn't work"
**Describe the bug**
When I go to Menu bar / Gmail Desktop and click to About Gmail Desktop, nothing happens.

**OS**
Linux

[2021-03-19 20:17] eshack94 commented on #174
I'm having the same issue. No fixes provided have resolved the issue.

[2021-03-20 03:51] #257 closed

[2021-03-20 03:52] timche commented on #174
@eshack94 Please specify your OS and what exactly you've tried. Did you try the built-in user agent auto fix?

[2021-03-20 04:08] eshack94 commented on #174
@timche I am on MacOS 11.2.3 (20D91). I've tried the built-in user agent autofix, along with multiple variations of valid custom user agent strings for Chrome, Edge, Safari, and Firefox. I've tried clearing browser caches and cookies, changing my network, and enabling "less secure" apps via my Google account settings.

So far none of these attempted solutions have worked. I would be very grateful

[2021-03-20 04:11] timche commented on #174
@eshack94 Thanks for the detailed answer. That's actually very interesting as it seems this block is dependent on the account. Do you have a normal Gmail account or one from Google Workspace (G Suite)?

[2021-03-20 14:49] eshack94 commented on #174
@timche At first I tested with two personal (normal) Gmail accounts. I also tested a third account, which was a Google Workspace (G Suite) account. I have experienced the same behavior consistently, regardless of the account type.

Please let me know if there is additional specific info that might help you to debug.

[2021-03-20 14:51] timche commented on #174
@eshack94 are you using v2 or [v3.0.0-alpha](https://github.com/timche/gmail-desktop/discussions/242)? If you are using v2, try out the latter.

[2021-03-20 15:49] eshack94 commented on #174
@timche I was previously using `v2.25.2`. And I also already tried the `Reset Config File` option with that version.

Also, I just tried `v3.0.0-alpha.10`. Initially I had the same problem, but saying "Yes" to the autofix option for `v3.0.0-alpha.10` fixed the problem. Hopefully this info is helpful to you or to others who might stumble upon the same issue.

[2021-03-20 15:54] timche commented on #174
@eshack94 great news. Can you please try to reproduce the error and success states. After each please copy your config and share it here. More specifically, I'm interested in the `autoFixUserAgent` and `customUserAgent` properties only.

[2021-03-20 15:57] eshack94 commented on #174
@timche Sure thing! I have to step away for a bit but I will work on reproducing error states when I'm back, along with the incremental changes made prior to each state.

[2021-03-21 00:38] eriktdesign commented on #227
@timche Doesn't appear to be happening in v3.0.0-alpha.10 -- I'll keep you posted

[2021-03-21 01:01] eshack94 commented on #174
@timche Update:

- Clicked `Settings` → `Advanced` → `Reset Config File` → `Restart`.
- The app restarted and did not prompt to log in again and was still logged in without issues.
- Set custom user agent string for Chrome: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.30 Safari/537.36`
    - Unchecked `Use Custom Useragent Fix`, then rest

[2021-03-21 02:44] timche commented on #227
Thanks for letting me know. We can re-open this issue when it's happening again.

[2021-03-22 02:32] cowboy opened #263 "Gmail Desktop 3.0 beta is blocking some keypresses in other apps"
**Describe the bug**
I'm running the latest 3.0 beta in Windows 10 and while Gmail Desktop is running (even in the background), I can't use Ctrl-1 or Ctrl-2 or Ctrl-3 in other apps. If I quit Gmail Desktop, I can use those keys again. This issue isn't present in 2.25.3.0, so I've downgraded for now.

**Steps to reproduce the behavior**
1. Run latest 3.0 beta of Gmail Desktop
2. Switch to another p

[2021-03-22 02:39] timche commented on #263
Gmail Desktop v3 is in alpha, not beta. This bug has been fixed 3 days ago in [v3.0.0-alpha.6](https://github.com/timche/gmail-desktop/releases/tag/v3.0.0-alpha.6).

The latest version is [v3.0.0-alpha.11](https://github.com/timche/gmail-desktop/releases/tag/v3.0.0-alpha.11) or [v3.0.0-alpha.12](https://github.com/timche/gmail-desktop/releases/tag/v3.0.0-alpha.12) (just released and currently buil

[2021-03-22 02:39] #263 closed

[2021-03-22 02:55] cowboy commented on #263
Thanks for the quick answer! You may want to add a note about the 3.0 alpha to the issue bug reporting template about checking for the latest build first before posting an issue, I didn't realize that I wasn't on the latest build.

[2021-03-22 02:59] timche commented on #263
Thanks for the suggestion. I'll add it to the template.

[2021-03-22 17:08] muuuh commented on #214
Thank you! It's working.

[2021-03-22 17:46] eriktdesign commented on #227
Welp. I just updated to Version 3.0.0-alpha.13 (3.0.0-alpha.13) and it's happening again.

[2021-03-22 17:50] timche commented on #227
Can you please check if this actually caused by an update and see if previous versions work fine?

Also please check if this not system/app related. Possible things to check:
- Reboot
- Different keyboards
- Gmail in browser

[2021-03-24 15:30] pedrodonkey opened #264 "Tabs are using "dark mode" styles on launch of the app"
**OS**
macOS Big Sur - 11.2.3

**Gmail Desktop Version**
Version 3.0.0-alpha.14 (3.0.0-alpha.14)

**Describe the bug**
Tabs are using "dark mode" styles on launch of the app.

**Steps to reproduce the behavior**

1. Launch the app
2. Settings > Dark Mode > Follow System Appearance is checked by default
3. Selecting Follow System Appearance again seems to fix the issue until next re-launch

**Expec

[2021-03-24 21:24] #264 closed

[2021-03-24 22:45] timche commented on #94
Will be resolved with v3 when we rename the project.

[2021-03-24 22:45] #94 closed

[2021-03-26 00:36] pilotstew commented on #216
gmail-desktop 2.25.3-2 via AUR

I am having this same issue. Exactly as above, I've tried all the Firefox and Chrome user agents manually entered into the config file as well as the automatic fix.

[2021-04-01 15:43] fatihturan opened #268 "Can't Attach File with Drag and Drop Method"
**OS**
macOS Version 14.0.3 (16610.4.3.1.7)

**Gmail Desktop Version**
Version 3.0.0-alpha.19 (3.0.0-alpha.19)

**Describe the bug**
When I dragging a file into the compose window then "Drag file here" placeholder is blinking and file can't be inserted in compose window.

**Steps to reproduce the behavior**

1. Launch the Gmail Desktop
2. Click on the "Compose" button
3. Drag a file into compose w

[2021-04-09 17:43] timche commented on #268
Are you still having this bug? I've tried to reproduce it, but it work for me.

[2021-04-09 18:52] timche commented on #85
v3.0.0 is opening `mailto` links in the main window.

[2021-04-09 18:52] #85 closed

[2021-04-09 21:53] #258 closed

[2021-04-10 09:09] fatihturan commented on #268
Yes, I just upgraded to Version: 3.0.0-alpha.25 (dev) but the bug still occurs:

https://user-images.githubusercontent.com/26871/114264778-8a399980-99f5-11eb-9947-cf78254592c2.mov

[2021-04-10 09:38] fatihturan opened #270 "Window Dragging Suddenly Stops"
**OS**
macOS Big Sur Version 11.2.3 (20D91)

**Gmail Desktop Version**
Version: 3.0.0-alpha.25 (dev)

**Describe the bug**
When I started to dragging window its suddenly stops window dragging operation.

**Media**

https://user-images.githubusercontent.com/26871/114265459-8871d500-99f9-11eb-9ed3-1fd353519ae5.mp4

**Additional context**
I think its depends on mouse drag speed. If I drag the window

[2021-04-10 10:08] timche commented on #268
I was able to reproduce it, but another app instance while the other just works fine. Out of interest, do you happen to have this bug (#227) too where <kbd>Command</kbd> adds indentation?

[2021-04-10 10:12] timche commented on #270
Will look into it, thanks.

Related issues: #20926, #21621

[2021-04-10 10:36] fatihturan commented on #268
I don't have any issue like that in the #227 at the moment.

[2021-04-16 04:58] brendanmeyer commented on #268
I am also seeing this in Version: 3.0.0-alpha.27 (dev)
and I don't seem to have #227 either

[2021-04-16 06:11] wennaspeedy opened #274 "No appbar icon in linux"
**OS**
Linux -appimage

**Gmail Desktop Version**
gmail-desktop-3.0.0-alpha.27-linux

**Describe the bug**
No appbar icon again in alpha. (Stable version works normally)

[2021-04-16 09:11] timche commented on #268
Unfortunately this is not trivial to fix for me and I'd need everyone's help to find out what causes it. This bug also happens in my dev instance, but not in my installed one. Really weird.

[2021-04-16 09:44] #274 closed

[2021-04-16 09:44] wennaspeedy commented on #274
Move to alpha discussion.

[2021-04-17 13:15] brendanmeyer commented on #268
is there anything that would make it easier to track down from my side, I'm glad to do what I can to help?

[2021-04-17 15:47] timche commented on #268
@brendanmeyer unfortunately not. The bug seems really random to me and I also just try to figure out how to reproduce it or fix it.

[2021-04-21 14:11] seannymurrs opened #275 "Glitchy icon in Finder?"
When I view my application list in Finder (in list view), the icon for the app looks somehow glitchy or corrupted. It looks fine if I switch to icon view or if I view it through the Launchpad, but the small icon in list view looks messed up for some reason. I'm attaching a screenshot that shows what I'm referring to.
![CleanShot 2021-04-21 at 10 06 55](https://user-images.githubusercontent.com/628

[2021-04-21 20:43] brahimmouhamou opened #276 "Click on account tab not responding"
**OS**
macOS Catalina Version 10.15.6

**Gmail Desktop Version**
Version: 3.0.0-alpha.27 (dev)

**Describe the bug**
I have 7 accounts added to the app, but sometimes the 4th account does not react on a tab click.
The problem seems the only occur  around the text,

I could not find the time to remove all accounts, add them again and verify that the problem still exists,
I will try it as soon as po

[2021-04-22 14:18] timche commented on #275
The same also happens at another OSS app: ![Screen Shot 2021-04-22 at 15 17 34](https://user-images.githubusercontent.com/8075074/115730054-de416800-a37d-11eb-86c4-5a571275cd7f.png)

I suspect that it's a bug with [electron-rebuild](electron-rebuild). I'll have a look at it when I find time.

[2021-04-27 09:34] weranda commented on #268
I have the same problem — can't attach the image file:
https://www.youtube.com/watch?v=_qgUjAtY-6Y

[2021-04-27 11:34] timche commented on #174
@kireita Please try the current [v3-alpha](https://github.com/timche/gmail-desktop/discussions/242).

[2021-04-27 12:27] kireita commented on #174
i get this when trying to update (this is the AUR package)

[2021-04-27 14:26:07.991] [error] Check for updates failed Error: ENOENT, dev-app-update.yml not found in /usr/lib/gmail-desktop/resources/app.asar
    at createError (electron/js2c/asar_bundle.js:5:1289)
    at e.readFile (electron/js2c/asar_bundle.js:5:8076)
    at go$readFile (/usr/lib/gmail-desktop/resources/app.asar/node_modules/grac

[2021-04-27 12:30] kireita commented on #174
no worries anymore i installed th .pacman file and now its working!

[2021-04-28 09:18] wennaspeedy opened #278 "No appbar icon (again)"
OS
Linux -appimage

Gmail Desktop Version
gmail-desktop-3.0.0-alpha.27-linux

Describe the bug
No appbar icon (again) in alpha. (Stable version works normally)

[2021-04-28 14:39] JohnLGalt opened #279 "Bottom edge of window truncated"
**OS**
Windows 10 x64 20H2 (19042.928)

**Gmail Desktop Version**
v3.0.0 αlpha 27

(Hardware as follows:  https://valid.x86.fr/tf5prr )

**Describe the bug**
If I maximize the window (or go full screen) the bottom of the window gets truncated off screen - regardless of whether I have autohide taskbar enabled or disabled.

**Steps to reproduce the behavior**
1. Click on Maximize button
2. See error

[2021-04-28 20:46] JohnLGalt commented on #268
I'm also having the same issue at @fatihturan and @weranda have shown in their videos.

**OS**
Windows 10 x64 20H2 (19042.928)

**Gmail Desktop Version**
v3.0.0 αlpha 27

(Hardware as follows: https://valid.x86.fr/tf5prr )

It takes several tries, but eventually it (randomly) gets attached.  Note, this is not a "it randomly works like it is supposed to - the, for lack of a better description, _sta

[2021-05-09 15:48] JohnLGalt commented on #279
My current workaround is to not use the window maximized (using Windows controls) but to then size the window manually so it takes up the appropriate amount of real estate on my screen.

In the meantime, I've got 6 accounts working in it, each with a different (and usually custom) theme, and the app is only using ~ 760 MB.  Kudos, devs - this is a winner and a keeper, for sure.

[2021-05-27 13:37] Webreaper opened #282 "DPreview Links not clickable in emails"
OS Version: MacOS v11.5 beta, M1/ARM64
Gmail Desktop Version: 3.0.0-alpha-27

**Bug Report**
I get notification emails from DPReview.com, but the links aren't clickable. Links are of the form:

   `https://link.dpreview.com/gp/r.html?C=1SN01CG7X5I7V&K=14OYSFCPGWOK0 (truncated)`

(I've had to truncate the link because I think it has implicit auth in the URL; I can forward a sample email, potentiall

[2021-05-27 14:04] timche commented on #282
If you could forward a sample email to me (email address on my profile), I can look into it.

[2021-05-27 14:10] timche commented on #282
Thanks for forwarding. I can click on all links and get a confirmation prompt. Can you please restart Gmail Desktop and try again?

[2021-05-27 14:17] Webreaper commented on #282
Even after restarting I still can't click on them (well, I click, but
nothing happens).

Can't see any related errors in the console. Wonder what it could be....?

Don't spend any time on it, it was only in case it was something like a JS
handler blowing up because the link is too long. It's not critical!

On Thu, 27 May 2021 at 15:10, Tim Cheung ***@***.***> wrote:

[2021-06-10 08:14] pedrodonkey opened #284 "Latest Gmail update causing misaligned icons in top right corner"
**OS**
macOS

**Gmail Desktop Version**
Version: 3.0.0-alpha.27 (dev)

**Describe the bug**
Looks like the latest Gmail Update is causing some elements below the tabs to be mis-aligned.

- Close re-open the app, hard reload to get latest updates from gmail automatically.
- Check the new Active drop down in the top right of the screen, Support, Settings and Account Selector are not aligned and spac

[2021-06-10 16:46] JohnLGalt commented on #284
Seeing the same thing.

[2021-07-10 14:26] timche commented on #284
Thanks for reporting this issue. I'll have a look asap.

[2021-07-15 21:34] alecmev commented on #124
Unfortunately, the things that Simplify does can't be achieved with just CSS. I recommend [taking a closer look](https://simpl.fyi/), it has a better landing now, the screenshots should give you a good idea even without installing :wink:

[2021-08-23 19:36] VictorS8 opened #291 "After click on Pop up notification, can't see gmail desktop properly"
**OS**
Windows

**Gmail Desktop Version**
3.0.0-alpha.27 (dev)

**Describe the bug**
When a click trough windows notification pop up, shows nothing on gmail desktop app

**Steps to reproduce the behavior**

1. While gmail desktop is minimized
2. When show a pop up notification
3. Click on pop up
4. Doesn't open the gmail desktop
5. When opening, the screen is black

**Expected behavior**
Just show

[2021-08-23 19:42] VictorS8 commented on #291
When I double click on Topbar to maximize without clicking on the windows icon, the app works normal and shows the wanted information which showed on pop up notification

[2021-08-23 20:32] JohnLGalt commented on #291
Confirmed, I've run into this myself a few times.  Top bar clicking and / or dragging the app to a different window seem to pull it out of its blank phase.

[2021-08-31 18:00] VictorS8 commented on #291
This only happens with me when I minimeze gmail desktop, when I just change windows with "alt+tab" and click on pop up notification, this bug do not happen

[2021-09-01 10:36] JohnLGalt commented on #291
Agreed, minimization is the key here.

[2021-09-22 13:10] jairoZX opened #293 "Mouse Back button should go back to search results instead of inbox"
**OS**
Linux

**Gmail Desktop Version**
3.0.0-27  and 2.25.3

**Describe the bug**
After using the search box in gmail, and using the mouse back button it should go back to the search results and not the inbox, basically same behaviour as the back arrow on gmail

**Steps to reproduce the behaviour**

1. search for an email on the inbox
2. click on an email
3. press back button on the mouse
4. goes

[2021-09-29 16:50] mgray88 commented on #293
I'm on macOS and my mouse back button doesn't seem to work at all

[2021-10-14 19:56] WebShapedBiz opened #297 "Launch minimized not working"
**OS**
Linux, elementaryOS 6 Odin

**Gmail Desktop Version**
3.0.0-alpha.27 (dev)

**Describe the bug**
Although I have "Launch Minimized" selected, Gmail Desktop is always autostarting maximized.
The `.desktop` file in `.config/autostart` folder doesn't have any parameters weather I select "Launch minimized" or not:
It's always `Exec="/opt/Gmail Desktop/gmail-desktop" %U`

Is there any parameter

[2021-10-30 17:57] asit5581 opened #298 "mailto protocol missing in Windows 10 or 11"
Unable to set as a default mail application

[2021-12-13 15:43] macx commented on #124
I sugges to re-open this issue, because User-Styles isn't the same as this extension.

[2022-01-16 10:13] DinCahill commented on #297
I tried elementaryOS 6.1 in a virtual machine, and it worked for me with the deb package.

Here's what I did:

- Downloaded the [3.0.0-alpha.27 deb](https://github.com/timche/gmail-desktop/releases/download/v3.0.0-alpha.27/gmail-desktop-3.0.0-alpha.27-linux.deb) and installed it with `sudo dpkg -i gmail-desktop-3.0.0-alpha.27-linux.deb`.
- (Optional) Manually compiled and installed [wingpanel-indi

[2022-01-16 19:32] WebShapedBiz commented on #297
Thank you very much @DinCahill for your time and effort here, you really made an effort. I've done everything from your list, except compiling myself, but with no luck. I'll try to find out why I have this issue on both my computers while everything works as it should on yours.

 Thank you again for the help.

Cheers.

[2022-01-24 12:56] samuelwebb2 opened #299 "not closing properly when in fullscreen mode"
**OS**
macOS

**Gmail Desktop Version**
2.25.3

**Describe the bug**
Gmail Desktop not closing properly when in fullscreen mode. Goes to black screen instead.

**Steps to reproduce the behavior**

1. Go to fullscreen mode.
2. Click on the red close button or use cmd+w
3. See error

**Expected behavior**
A black screen which can only be closed by quitting.

**Media**

https://user-images.githubuser

[2022-02-07 10:23] #275 closed

[2022-02-07 10:24] #278 closed

[2022-02-07 10:26] #282 closed

[2022-02-07 10:27] timche commented on #298
Duplicate of #206

[2022-02-07 10:27] #298 closed

[2022-02-09 02:59] DinCahill commented on #270
I've been testing dependency updates, and this is fixed in a newer version of electron.

[2022-02-09 13:14] timche commented on #270
Thanks @DinCahill for testing. I'll upgrade Electron asap.

[2022-02-10 10:13] timche commented on #270
Fixed in 39b3814ff38aad33a34048380254e6a6098949f6

[2022-02-10 10:13] #270 closed

[2022-02-10 10:16] timche commented on #276
This may be fixed alongside #270. If not, please feel free to re-open this issue.

[2022-02-10 10:16] #276 closed

[2022-02-10 10:40] timche commented on #284
There have been few fixes to the top right section since v3.0.0-alpha.28. Let me know if you still have this bug and I'll re-open this issue.

[2022-02-10 10:40] #284 closed

[2022-02-11 04:54] duong-le opened #304 "Setting and account icon is not displayed properly"
**OS**
macOS

**Gmail Desktop Version**
Version: 3.0.0-alpha.30 (alpha)

**Describe the bug**
Personal account
<img width="293" alt="image" src="https://user-images.githubusercontent.com/28813618/153539307-01a93bb8-982b-493e-aae5-966f044593f0.png">

Work account
<img width="296" alt="image" src="https://user-images.githubusercontent.com/28813618/153539331-b172d451-99c5-49e7-b5d1-521171234499.png">

[2022-02-11 10:30] timche commented on #304
Thanks for reporting this. This is the same as #284.

My Gmail looks like this:

<img width="206" alt="Screenshot 2022-02-11 at 10 28 13" src="https://user-images.githubusercontent.com/8075074/153575893-c1b6befa-6e3c-4e1b-adfe-a0c362f89613.png">

So I wonder how I can enable the `Active` element, because that's what causing the misalignments. I've turned on Chat and Meet in the settings:
<img widt

[2022-02-11 10:33] duong-le commented on #304
@timche looks like I have a google chat account connected to my email
<img width="494" alt="image" src="https://user-images.githubusercontent.com/28813618/153576539-81da5efb-ab33-4024-bbf4-4e9f247e07fb.png">

[2022-02-11 17:28] duong-le commented on #304
@timche Did you fix the rainbow ring bug?

[2022-02-11 17:31] timche commented on #304
@duong-le Ah no, sorry. Would it be possible if you can inspect that element and send a screenshot of it like [this](https://user-images.githubusercontent.com/510163/153629975-6ac79fe0-9057-47aa-90f2-9f464d78c1c4.png) and of the HTML tree where the element is?

[2022-02-11 17:35] duong-le commented on #304
@timche Not sure if these are the ones you need
<img width="234" alt="image" src="https://user-images.githubusercontent.com/28813618/153640643-0ff575d5-b50d-43a4-96d9-8aaf155bc67f.png">
<img width="392" alt="image" src="https://user-images.githubusercontent.com/28813618/153640736-66763477-31f1-4fbf-81e8-38c67a300ef9.png">

[2022-02-12 13:23] timche commented on #304
@duong-le do you have Discord (`timche#2098`)? I'd like to fix the ring properly, but definitely need your help.

[2022-02-12 13:32] #299 closed

[2022-02-12 13:43] timche commented on #297
@WebShapedBiz is this still an issue with the latest version [v3.0.0-alpha.31](https://github.com/timche/gmail-desktop/releases/tag/v3.0.0-alpha.31)? Unfortunately I can't reproduce it on macOS, but Gmail Desktop accepts `launch-minimized` as command line argument.

[2022-02-12 13:44] timche commented on #293
@jairoZX @mgray88 is this still an issue with the latest version [v3.0.0-alpha.31](https://github.com/timche/gmail-desktop/releases/tag/v3.0.0-alpha.31)? Unfortunately I can't reproduce it on macOS and works as described in the expected behaviour.

[2022-02-12 14:21] JohnLGalt commented on #279
I didn't even see 31, still only have 30. I'll grab it later today and let
you know.

You've been kicking out some serious updates, kudos!

On Sat, Feb 12, 2022, 08:42 Tim Cheung ***@***.***> wrote:

[2022-02-12 14:24] timche commented on #291
For the record: This bug occurs when the app is maximized and minimized (tested on Windows).

[2022-02-12 14:28] timche commented on #279
In case you don't know yet, you can manually check for updates:

![image](https://user-images.githubusercontent.com/8075074/153715230-cd70cec9-bfc8-48de-b36e-d5fea900a7c6.png)

It seems to work fine for me now:

![image](https://user-images.githubusercontent.com/8075074/153715278-99a2fa45-f871-4c30-8c39-03faec995d73.png)

[2022-02-12 14:44] WebShapedBiz commented on #297
Even worse @timche, now it doesn't even start. This is the error from the terminal:
[code]

[2022-02-12 14:46] timche commented on #297
@WebShapedBiz can you please try to re-install the app please? Unfortunately I'm not using Linux myself, so it's very difficult for me to see what exactly is wrong or caused it.

[2022-02-12 14:51] duong-le commented on #304
@timche just send the invitation

[2022-02-12 14:52] WebShapedBiz commented on #297
I've installed version alpha.29, alpha.30, and alpha.31, and on each version that app starts but with empty Gmail account tabs. After that, I've reinstalled version alpha.27 that I've been using all this time and everything is back to normal.

[2022-02-12 15:09] #291 closed

[2022-02-12 15:09] WebShapedBiz commented on #297
New development - on my first email account everything is fine but on the second account, I cannot log in due to the "This browser or app may not be secure" error. It's hilarious because on both accounts I'm not allowing unsecured apps.

[2022-02-12 15:10] timche commented on #297
@WebShapedBiz you can try with disabling "Use User Agent Fix" or try signing in multiple times. This "security blocker" is happening very inconsistently.

[2022-02-12 15:12] timche commented on #279
I'll close this issue as I can't reproduce it anymore. If you still have it @JohnLGalt, I'll re-open it.

[2022-02-12 15:12] #279 closed

[2022-02-12 15:15] WebShapedBiz commented on #297
Thank you it worked :-)

[2022-02-12 16:28] timche commented on #297
@WebShapedBiz so do you still have the original issue though?

[2022-02-12 16:49] WebShapedBiz commented on #297
Yes I do and unfortunately haven't had a chance to test new alpha versions
because they won't run.

Best regards,

*Siniša Perović**Webshaped Business OÜ*

***@***.*** ***@***.***>*

*https://www.webshaped.biz <https://www.webshaped.biz/>
***@***.***>+385 92 1244627*

On Sat, Feb 12, 2022 at 5:28 PM Tim Cheung ***@***.***> wrote:

[2022-02-13 03:39] DinCahill commented on #297
@WebShapedBiz Have you tried running the latest version with a clean config?

`mv ~/.config/Gmail\ Desktop ~/.config/Gmail\ Desktop.bak`

[2022-02-13 06:42] WebShapedBiz commented on #297
Well, this will amuse you.

On my main PC, where I tried yesterday new alpha releases and they didn't work, I reinstall back alpha.27 version, which works fine but also, after all this installation and reinstallation gmail-desktop now actually starts minimized. I haven't touch preferences at all.
On my laptop, same OS, same apps, alpha.32 with clean config works fine BUT I cannot get it to start m

[2022-02-14 13:12] mgray88 commented on #293
@timche Unfortunately yea. I have the Logitech MX Master 2S

[2022-02-14 20:26] jairoZX commented on #293
@timche same here, tried and same thing happen it goes back to inbox not the search results.

I am on Linux (Ubuntu 21.10)

[2022-02-14 20:28] mgray88 commented on #293
Interesting, mine doesn't even do that. Just doesn't do anything :(

[2022-02-15 00:05] timche commented on #293
@mgray88 are the side buttons working in a browser?

@jairoZX it sounds like the navigation behaves differently on Linux.

[2022-02-15 00:43] mgray88 commented on #293
@timche Yep, they work pretty much everywhere else I would expect them to work. If it helps, Logitech has a software helper for their hardware, Logitech Options

![](https://user-images.githubusercontent.com/411747/153970858-014cd626-cf33-4e76-bca8-e87854c99349.png)

[2022-02-15 13:37] timche commented on #293
@jairoZX @mgray88 can you please test the build available [here](https://github.com/timche/gmail-desktop/actions/runs/1847174808), whether back/forward buttons work and if they work as expected (only going back/forward once in history). If not, can you please open the console in the developer tools and try clicking back/forward buttons and copy-paste the `mousedown` and `mouseup` logs here?

[2022-02-15 13:52] jairoZX commented on #293
@timche back and forward buttons works for me now on search, thank you :+1:

[2022-02-15 19:01] mgray88 commented on #293
@timche Interesting, those two buttons aren't sending any mouseup/down events

[2022-02-15 23:24] mgray88 commented on #293
Additionally I can't swipe left with my trackpad, and ⌘ ← (command-left) doesn't work either

[2022-02-15 23:28] timche commented on #293
@mgray88 thanks for the feedback. There's no support for swiping, but shortcut could be added.

[2022-02-15 23:32] mgray88 commented on #293
Command-(left/right) works in other browsers (I've only tested Chromium browsers but I would guess it's pretty standard)

[2022-02-16 08:33] timche commented on #293
@mgray88 related issue: https://github.com/microsoft/vscode/issues/88029

[2022-02-16 08:34] timche commented on #293
@mgray88 you could consider using SensibleSideButtons: https://sensible-side-buttons.archagon.net/

[2022-02-16 10:51] timche commented on #293
@jairoZX can you please test [this build](https://github.com/timche/gmail-desktop/actions/runs/1851748458) too?

[2022-02-16 12:00] jairoZX commented on #293
tested, also works for back/forward @timche

[2022-02-16 13:08] timche commented on #268
I finally found the root cause of this issue: The custom user agent is loading a slightly different version of Gmail and causes the drag and drop to behave weirdly.

So if you have this issue, please try disabling `Use User Agent Fix` or removing any custom user agent and use the default user agent instead.

[2022-02-16 13:09] timche commented on #227
I finally found the root cause of this issue: The custom user agent is loading a slightly different version of Gmail and causes the drag and drop to behave weirdly in Electron.

So if you have this issue, please try disabling `Use User Agent Fix` or removing any custom user agent and use the default user agent instead.

Please let me know if it works for you.

[2022-02-16 13:11] #293 closed

[2022-02-16 13:19] fatihturan commented on #268
Hi @timche I can confirm that disabling the `Use User Agent Fix` is solving this issue. Thanks for sharing it. ✌🏻

[2022-02-21 18:17] DinCahill opened #317 "Check for Updates button throws an error on unsupported platforms"
**OS**
Linux (non-AppImage)
Development builds (any OS)

**Gmail Desktop Version**
[v3.0.0-alpha.34](https://github.com/timche/gmail-desktop/releases/tag/v3.0.0-alpha.34)

**Describe the bug**
When using the deb package, the "Check for Updates" button throws an error because `app-update.yml` does not exist.

When developing via `npm run start`, it's `dev-app-update.yml` instead.

**Steps to reprod

[2022-03-04 13:02] brahimmouhamou opened #320 "Add possibility to change the account order"
When adding multiple accounts, it seems that you cant change the order of the tabs.
It would be awesome that a user could rearrange the order so that the most import email account is shown in the first tab.

PS: I love this tool! ❤️

[2022-03-04 18:29] tivolimeister opened #322 "Alt doesn't bring back the manu bar"
**OS**
Linux

**Gmail Desktop Version**
2.25.3

**Describe the bug**
Alt doesn't bring back the hidden menu bar.

[2022-03-05 14:49] tivolimeister opened #323 "Default Mail Client doesn't work"
**OS**
Zorin OS 16.1 x86_64 (based on Ubuntu 20.04)

**Gmail Desktop Version**
3.0-alpha.34

**Describe the bug**
Installed .deb. Function Default Mail Client returns "There was a problem with setting Gmail Desktop as default mail client. It doesn't show up under OS Default Applications >> Mail either.

[2022-03-14 17:06] DonaldDuck313 opened #324 "Notifications aren't working on Windows"
**OS**
Windows 11

**Gmail Desktop Version**
2.25.3.0

**Describe the bug**
I'm not getting notifications on Windows.

**Steps to reproduce the behavior**

1. Open Gmail Desktop
2. Ask someone to send you an email
3. You won't get a notification

**Expected behavior**
I expect to get a notification whenever I get a new email.

**Additional context**
If I look at your [source code](https://github.c

[2022-03-14 17:14] timche commented on #324
Have you enabled [desktop notifications in Gmail](https://support.google.com/mail/answer/1075549?hl=en-GB&co=GENIE.Platform%3DDesktop)?

[2022-03-15 09:22] DonaldDuck313 commented on #324
Thanks, it worked. It's not clear from your documentation that I need to do that though, I assumed that it worked like the official Android app where notifications are on by default. Maybe you should clarify that in your documentation, [something like this](https://github.com/timche/gmail-desktop/pull/325).

[2022-03-15 09:22] #324 closed

[2022-04-01 10:37] ajvurz opened #327 "System tray Icon no more showing notification"
**OS**
Operating System: Linux Mint 20.3
Kernel: Linux 5.13.0-27-generic
Architecture: x86-64

**Gmail Desktop Version**
gmail-desktop-2.25.3-linux
Installed from .deb package.

**Describe the bug**
System tray Icon no more showing notification. I have now continuously a white icon. Installed the application more than one year ago and one month ago I noticed that I have no more notification for ne

[2022-04-06 00:07] BluGum commented on #327
I'm having a similar issue on MacOS. In the past few weeks the Gmail Desktop dock icon has stopped showing a red notification indicator when new mail arrives. I've tried reinstalling the app and resetting my notification settings but neither has worked.

**Device & OS**
Device: MacBook Pro 16-inch (2019)
Operating System: MacOS Monterey 12.2.1

**Gmail Desktop Version**
Version 2.25.3 (2.25.3)

[2022-04-07 14:17] timche commented on #327
Thanks for reporting this issue. It's probably due to changes on behalf of Gmail and the selector to read the unread inbox isn't working anymore. I suggest you both @ajvurz and @BluGum to use the [latest v3-alpha](https://github.com/timche/gmail-desktop/releases) instead, because I won't be maintaining v2 anymore as v3 is planned to be released soon.

[2022-04-07 14:17] #327 closed

[2022-04-10 11:36] enzorevo opened #328 "Notification/Chat count for Gmail Workspace"
**OS**
macOS, Catalina 10.15.7

**Gmail Desktop Version**
3.0.0.alpha34

**Describe the bug**
The notification number, both in the dock and in the app panels, work only for classic GMail visualization. I believe this depends on new selectors for the new Google Workspace Gmail visualization, which has the Google Chat panels in the leftmost panel in addition. That would be great to have a notificati

[2022-05-03 11:30] sah209 opened #329 "Set browser choice for launching links from gmail-desktop"
Is there a way to define which browser I want to launch when clicking on a link in an email from within gmail-desktop (v. 2.0.3 on Kubuntu 20.04 via snap)?  Right now it is launching Firefox by default, but I'd rather Chromium or Brave (yes, I have those 2 installed).

Thanks,
Scott

[2022-05-04 14:24] Microtribute opened #330 "Hide Menubar does not work on Windows"
**OS**
Windows

**Gmail Desktop Version**
v3.0.0-alpha.34

**Describe the bug**
Checking that menu item is originally supposed to hide the menu bar and make the window title bar use the system style. Restarting the application or even restarting the whole system didn't bring up the change. I remember it used to work before.

**Steps to reproduce the behavior**
Please check the attached screenshot.

[2022-05-06 14:04] avelino commented on #124
@timche css customization would not be the responsibility of the `gmail-desktop` project, but rather the responsibility of **Simplify**

Simplify is a paid solution, it would be important to have an option to **activate** or **deactivate**

Simplify is a plugin and you can use this electronjs api to load plugin:
- https://www.electronjs.org/docs/latest/api/extensions
- https://github.com/getstatio

[2022-06-19 07:58] athulmekkoth commented on #174
same issue on zorin os

[2022-06-20 18:47] vin047 commented on #174
Not sure if this helps (or adds to the confusion!) but I was able to add 5/6 accounts without issues and only had an issue with the last account. So does seem to be sporadic or maybe account dependent. All accounts have 2FA so pretty sure that's not the issue. Perhaps Google thought something fishy was going on since I added multiple accounts within a short time period? Going to try adding the 6th

[2022-07-08 16:32] vin047 commented on #174
So I just added my 6th account (after an 18 day wait 😅), still got the same error message. But this time there was an option to "try again if this is a supported browser". Did so and it worked fine now. The first thing I noticed is that the interface looks different – **it appears this account is using the new Gmail view.** From what I can tell, this is the only major difference compared to all th

[2022-07-11 14:41] JohnLGalt commented on #174
I've added a 7th account, and converted all of them to the new GMail view. 2 of them, my primary account and one of my G Suite accounts, decided that instead of enabling the new view, they would go into vacation mode. Upon closing the app and then re-starting one of them gave me the browser / app may not be secure message, but still allowed me to log in using my physical key. As of now, no more is

[2022-07-21 04:04] twodayslate opened #334 "Unable to see signin text in dark mode"
**OS**
macOS

**Gmail Desktop Version**
Version 2.25.3 (2.25.3)

**Describe the bug**
A clear and concise description of what the bug is.

1. Enable dark mode
2. Attempt to signin

**Expected behavior**
You should be able to see what you are typing

**Media**
<img width="651" alt="Screen Shot 2022-07-21 at 12 03 02 AM" src="https://user-images.githubusercontent.com/1085707/180127589-0ee4299a-3c25-

[2022-08-04 15:45] albertberlanga opened #335 "Icons Problem"
**OS**
Windows

**Gmail Desktop Version**
3.0.0 Alpha 34

<img width="605" alt="04-08-2022_17-44-28" src="https://user-images.githubusercontent.com/65016698/182889731-ab062d1e-90b7-4085-8315-c3fd8e4c34a7.png">

Problem with some icons. They didn't load.

[2022-08-07 18:38] timche commented on #335
Please use the old UI. We don't support the new UI yet.

[2022-08-07 18:38] #335 closed

[2022-08-10 07:45] ghost opened #336 "Icons are blank on new Material You Design"
**OS**
macOS

**Gmail Desktop Version**
Version: 3.0.0-alpha.34 (dev)

**Describe the bug**
With the new material you gmail design icons are not showing...

**Steps to reproduce the behavior**

**Expected behavior**
Icons should be shown

**Media**
https://ibb.co/vZ3N75C

[2022-08-10 10:32] infinitnet commented on #336
Same here.

[2022-08-10 15:21] ewhanhan opened #337 "Compact Header cuts off Profile Icon (styling)"
**OS**
macOS

**Gmail Desktop Version**

Version: ` 2.25.3 (2.25.3)`

**Describe the bug**

Styling for when 'Compact Header' is activated results in cut off profile

See below for screenshots, refer to arrow

**Steps to reproduce the behavior**

1. Have 'Compact Header' activated
2. See profile icon on the top right

**Expected behavior**

Profile icon should be fully visible

**Media**
![image](

[2022-08-10 17:49] JohnLGalt commented on #335
Weird. I enabled the new view and the icons were working for a good while before they abruptly broke.  I suspect that Google changed the icons in the new UI to something different as a WiP for the new UI, eh?

[2022-08-10 19:23] infinitnet commented on #336
@timche alpha 35 didn't fix it for me (cleared cache as well).
![2022-08-10_21-22](https://user-images.githubusercontent.com/6189915/184002577-dd9616d4-e5db-4988-bb8b-4926f3f5cad3.png)

[2022-08-10 19:34] timche commented on #336
It looks okay for me. @infinitnet please give it 24-48 hours and check again after. I've the assumption that it's something server-side that's blocking the requests to load the icons.

<img width="665" alt="Screenshot 2022-08-10 at 20 32 17" src="https://user-images.githubusercontent.com/8075074/184004265-1866e308-78fc-4f93-8b2d-c74a02d4b3a1.png">

[2022-08-10 19:34] timche commented on #335
It looks okay for me. @JohnLGalt please give it 24-48 hours and check again after. I've the assumption that it's something server-side that's blocking the requests to load the icons.

<img width="665" alt="Screenshot 2022-08-10 at 20 32 17" src="https://user-images.githubusercontent.com/8075074/184004265-1866e308-78fc-4f93-8b2d-c74a02d4b3a1.png">

[2022-08-11 01:20] serhumanos commented on #297
I have the same Issue

KDE Neon (Ubuntu 20.04)
deb package

[2022-08-12 10:09] infinitnet commented on #336
@timche hasn't been 48 hours yet, but close and 3 reboots later - problem still persists on my end. Would be cool to get feedback from @boki000 as well.

[2022-08-12 10:26] timche commented on #336
@infinitnet this is very weird. Can you please share your user agent settings? You can find them at Preferences -> User Agent.

[2022-08-12 10:33] infinitnet commented on #336
"Use User Agent Fix"

[2022-08-12 10:35] timche commented on #336
@infinitnet can you please disable "User User Agent Fix" and make sure that "Remove Custom User Agent" is disabled too?

Kind of like this:
<img width="195" alt="Screenshot 2022-08-12 at 11 35 38" src="https://user-images.githubusercontent.com/8075074/184337549-f8dad7b5-6e7f-40b1-9ab6-b55c6c0ed9b4.png">

[2022-08-12 10:40] infinitnet commented on #336
@timche Unchecking "User User Agent Fix" did the trick! But only after clearing cache as well. Looks like you should adjust default settings and disable "User User Agent Fix" + force clear cache post install with the next update. Unless mine was an isolated case. :)

[2022-08-15 07:36] boki000 commented on #336
alpha 35 didn't fix it for me. WIll try with User Agent fix

[2022-08-15 07:38] boki000 commented on #336
fixed 🚀

[2022-08-15 13:01] timche commented on #336
@JohnLGalt do you still have this issue? If yes, can you please try my suggestion above?

[2022-08-15 14:12] JohnLGalt commented on #335
No go - still getting the weird blocks instead of icons.

However, I also have a custom background that I've used for that Gmail account (in fact, all my accounts have different custom backgrounds). I'll do some playing around and see if I can narrow down the cause.

[2022-08-15 14:25] JohnLGalt commented on #336
I unchecked '' and restarted but it did not change the block icons (and 'Remove' was disabled).

But with 'Use User Agent Fix' I am unable to use my Titan Security keys with the Advanced Protection I have enabled across all my accounts. So, I reverted to having it enabled since the icons did not show with that setting unchecked.

[2022-08-15 15:23] JohnLGalt commented on #336
Update. After **re-enabling** the 'User User Agent Fix' I saw something curious happen right in front of me as I was using it.

I have 3 Google accounts and 4 G-Suite accounts in there, and as I progress through the first 2 Google accounts, and the 4 G-Suite accounts, no icons. When I got the the last account, a Google account, icons were there. I checked all the other accounts, and no icons - but

[2022-08-16 13:55] JohnLGalt commented on #336
Update - after a restart, all accounts are only showing icons selectively. I suspect that the icons started showing for the brief time I had User Agent fix disabled, and only reverted after I fully re-started my computer.

At any rate, until I get around to adding those accounts to my phone so I can have an alternate method to authenticate, I'm stuck using user agent fix, and thus stuck with limit

[2022-08-16 22:44] timche commented on #336
Thanks for those updates @JohnLGalt. Have you also tried "Clear Cache" and "Reset App Data" (both under Help -> Troubleshooting) after disabling User Agent fix?

[2022-08-17 12:44] JohnLGalt commented on #336
Nope - I'll give those a try, thanks!

[2022-08-18 06:04] WebShapedBiz commented on #336
On elementaryOS Linux, removing Hardware Acceleration is what did it for me, nothing else, so maybe this could help someone.

[2022-08-20 14:31] alecmev opened #338 "Constant CPU usage"
**OS**
Linux

**Gmail Desktop Version**
v3.0.0-alpha.35

**Describe the bug**
About 13% of 1 core is being used at all times.

**Additional context**
I ran a CPU profiler, and looks like it's some `element-ready` that is never ready, so it must be one of these:

https://github.com/timche/gmail-desktop/blob/fceff40c275097626120274f6dee3bf68beb7a2b/src/main/account-views/preload/index.ts#L25

https:

[2022-08-20 17:07] timche commented on #338
Thanks @alecmev for the detailed bug report! Will look into it asap!

[2022-08-20 19:12] JohnLGalt commented on #336
So, here is what I had to do.

1. Reset App Data - at this point all accounts and settings are lost. I then start Gmail-Desktop and notice that, by default, Use User Agent Fix is enabled. This is good, as I need to add 7 accounts all of which are enrolled in Advanced Protection.
2. Add each account and verify all is working except for icons
3. Disable 'Use User Agent Fix'
4. Clear Cache

At this p

[2022-08-22 10:21] timche commented on #336
Great that this workaround also works for you @JohnLGalt. I'll probably change the way how User Agent Fix works, because the Firefox user agent makes Gmail buggy for some reason, so instead the User Agent Fix could be applied only during the signing in phase and then switch back to default (Chrome) once signed in.

[2022-08-26 14:59] ronilaukkarinen opened #339 "Remember window size"
**OS**
Windows 11

**Gmail Desktop Version**
2.25.3.0

**Describe the bug**
Every time app is opened the window is small.

**Steps to reproduce the behavior**

1. Completely close the app
2. Open app
3. See the window is not the same you resized it last time

**Expected behavior**
App should remember window size.

[2022-09-13 11:46] spmarsden commented on #336
I've just run into the same issue. Arch linux, GNOME DE, Gmail Desktop 3.0.0-alpha.35

The fix described above worked for me:
* Uncheck: Gmail Desktop > Preferences > User Agent > Use User Agent Fix
* Help > Troubleshooting > Clear Cache

Everything looks to display properly afterwards.

[2022-09-19 20:51] eshack94 commented on #336
I'm experiencing the same issue on Apple Silicon (ARM) based MacBook Pro. Just wanted to confirm that the fixes described above fixed the problem. 2 Restarts were required. Restart the app once after unchecking "Use User Agent Fix", then restart again after doing "Clear Cache".

Thanks all.

[2022-09-20 21:55] CdyVnd opened #342 "Bug – Little Black Boxes"
**OS**
macOS - Monterey 12.6

**Gmail Desktop Version**
3.0.0-alpha.35

**Describe the bug**
Instead of the "Sent" "Drafts" and "More" icons, little gray/black boxes are appearing. Anyone know how to fix?

Please see screenshots below.

<img width="247" alt="BLACK_BOXES_BUG_001" src="https://user-images.githubusercontent.com/60492000/191371687-38bbe79e-f715-42ee-b2b9-5316b95cdb0d.png">
<img width=

[2022-09-20 22:00] #342 closed

[2022-09-20 22:01] CdyVnd commented on #342
Solved was posted already – apologies!

[2022-09-21 05:30] JohnLGalt commented on #336
I came upon time to re-login to my G-Suite (WorkSpace) accounts. Enabling User Agent allowed me to log in with Security keys, and then disabling User Agent and clearing cache brought the new theme's icons back.

This workaround works perfectly fine. I wonder if there is a more permanent fix, using an alternative User Agent fix that will satisfy both the new theme and the need to access physical se

[2022-10-06 21:33] LorenzoMorelli opened #344 "Menu Bar disappeared"
**OS**
Arch Linux x86_64

**Gmail Desktop Version**
3.0.0-alpha.35(stable)

**Describe the bug**
The title panel is neither visible nor clickable anymore

**Steps to reproduce the behavior**

1. Go to Preferences -> Set title bar style -> System
2. Go to Preferences -> Hide Menu Bar
3. Click on Full Refresh (I think it should happen even if the application is restarted)

**Expected behavior**
I wo

[2022-10-21 18:19] patrickyan opened #347 "Mailto links open blank message with all fields blank"
**OS**
macOS 12.6

**Gmail Desktop Version**
Version: 3.0.0-alpha.35 (dev)

**Describe the bug**
Clicking a mailto link results in a blank new email without any fields filled in.

**Steps to reproduce the behavior**

1. Set Gmail Desktop > Preferences > Default Mail Client
2. Click on [mailto:john@email.com&subject=Hello](mailto:john@email.com&subject=Hello)
3. A blank email opens no fields filled

[2022-10-26 09:15] jt1122zz opened #349 "New mail notifications in XFCE panel stopped working"
**OS**
Sparky Linux 6 (=Debian testing), XFCE desktop 4.16

**Gmail Desktop Version**
2.25.3

**Describe the bug**
The app shows a Gmail icon in the panel notification area.
Previously the icon would change once new emails have arrived.
This has stopped working, i.e. the icon remains unchanged even when new emails arrive.

**Steps to reproduce the behavior**

1. run gmail-desktop.
2. Send an email

[2022-11-10 19:45] michael-newsrx opened #354 "GPU process isn't usable. Goodbye."
Just installed the latest stable and it briefly shows a window then exits.

Console log:

[code]

[2022-11-15 07:20] simoneggler opened #355 "Unread badge does not show"
**OS**
macOS

**Gmail Desktop Version**
2.25.3

**Describe the bug**
I have unread mails, but no badge is shown

**Steps to reproduce the behavior**

1. Open Gmail Desktop
2. Make sure you have unread emails
3. Show dock - unread badge is not shown

**Expected behavior**
batch shows number of unread mail

[2022-11-16 16:40] #227 closed

[2022-11-18 21:20] JohnLGalt commented on #336
I just had to go do another round of re-logins for my WS accounts. All accounts, both WS and non-WS are using the new MY UI.

After enabling the user agent fix (so I could use my Solo key to authenticate my accounts) I cleared cache and forgot to uncheck the User agent fix - and yet all icons are working normally!

@timche Did this resolve itself from Google's end?

[2022-11-25 11:24] Hershey025 opened #357 "Black Theme issues while signing in."
**OS**
Windows

**Gmail Desktop Version* 3.00 alpha 35*
You can find the version at `Gmail Desktop` → `About Gmail Desktop`. Make sure you're running the latest version to make sure the bug hasn't been fixed yet.

**Describe the bug**
Bug when we click on login the login page black theme is not consistent. Many areas are grey and white
![Screenshot (249)](https://user-images.githubusercontent.com/

[2022-11-25 18:51] JohnLGalt commented on #357
The latest alpha is 3.0.0-alpha.35 (dev). Is that what you meant?

[2022-11-26 10:12] Hershey025 commented on #357
Yes